{% extends "staff/base.html" %}
{% load i18n %}
{% load static %}

{% block head %}
    {{ block.super }}
    <title>{% trans "Professores" %}</title>
    <link rel="stylesheet" href="{% static 'staff/professor/css/professors_list.css' %}">
    <script src="{% static 'staff/professor/js/professors_list.js' %}" data-lang={{ LANGUAGE_CODE }}></script>
{% endblock %}

{% block body %}
    {{ block.super }}
    <h1 class="title-page">{% trans "Professores" %}</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="bi bi-house-door"></i></a></li>
            <li class="breadcrumb-item active" aria-current="page">{% trans "Configurar Lista de Professores" %}</li>
            <li class="breadcrumb-item active">{% trans "Professores" %}</li>
        </ol>
    </nav>
    <div class="tabela">
        <table class="table table-bordered editable" id="professors_list">
            <thead>
            <tr>
                <th scope="col">{% trans "Registro" %}</th>
                <th scope="col">{% trans "Nome" %}</th>
                <th scope="col">{% trans "Data de Nascimento" %}</th>
                <th scope="col">{% trans "Data de Carreira" %}</th>
                <th scope="col">{% trans "Data no Campus" %}</th>
                <th scope="col">{% trans "Data como Professor" %}</th>
                <th scope="col">{% trans "Data na Área" %}</th>
                <th scope="col">{% trans "Data no Instituto" %}</th>
                <th scope="col">{% trans "Diploma Pontuação" %}</th>
                <th scope="col">{% trans "Ações" %}</th>
            </tr>
            </thead>
            <tbody>
            {% csrf_token %}
            {% for professor in professors %}
                <!-- Lista -->
                <tr>
                    <td>{{ professor.registration_id }}</td>
                    <td>{{ professor.get_full_name }}</td>
                    <td>{{ professor.history.birth|date:"Y-m-d" }}</td>
                    <td>{{ professor.history.date_career|date:"Y-m-d" }}</td>
                    <td>{{ professor.history.date_campus|date:"Y-m-d" }}</td>
                    <td>{{ professor.history.date_professor|date:"Y-m-d" }}</td>
                    <td>{{ professor.history.date_area|date:"Y-m-d" }}</td>
                    <td>{{ professor.history.date_institute|date:"Y-m-d" }}</td>
                    <td>
                        {% for academic_degree in professor.history.academic_degrees.all %}
                            <span data-degree-id="{{ academic_degree.id_academic_degree }}"
                                  data-degree-name="{{ academic_degree.name }}"
                                  data-degree-punctuation="{{ academic_degree.punctuation }}">{{ academic_degree.name }}</span>
                            <br>
                        {% endfor %}
                    </td>
                    <td>
                        <button type="button" data-toggle="modal" data-target="#editProfessorModal"
                                data-counter="{{ counter }}" class="btn btn-warning editProfessorBtn"><i
                                class="bi bi-pencil"></i></button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Modal para edição de professor -->
    <div class="modal fade" id="editProfessorModal" tabindex="-1" role="dialog"
         aria-labelledby="editProfessorModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addEditProfessorModal">{% trans "Editar Professor" %}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="registration_id">{% trans "Registro" %}</label>
                            <input type="text" class="form-control" id="registration_id" readonly>
                        </div>
                        <div class="form-group">
                            <label for="first_name">{% trans "Nome" %}</label>
                            <input type="text" class="form-control" id="first_name" readonly>
                        </div>
                        <div class="form-group">
                            <label for="birth">{% trans "Data de Nascimento" %}</label>
                            <input type="date" class="form-control" id="birth">
                        </div>
                        <div class="form-group">
                            <label for="date_career">{% trans "Data de Carreira" %}</label>
                            <input type="date" class="form-control" id="date_career">
                        </div>
                        <div class="form-group">
                            <label for="date_campus">{% trans "Data de Ingresso no Campus" %}</label>
                            <input type="date" class="form-control" id="date_campus">
                        </div>
                        <div class="form-group">
                            <label for="date_professor">{% trans "Data de Ingresso como Professor" %}</label>
                            <input type="date" class="form-control" id="date_professor">
                        </div>
                        <div class="form-group">
                            <label for="date_area">{% trans "Data da Área" %}</label>
                            <input type="date" class="form-control" id="date_area">
                        </div>
                        <div class="form-group">
                            <label for="date_institute">{% trans "Data do Instituto" %}</label>
                            <input type="date" class="form-control" id="date_institute">
                        </div>

                        <div class="form-group">
                            <label for="academic_degrees" id="academic-title">Diplomas do Usuário</label>
                            <ul id="currentAcademicDegreesList" class="list-group"></ul>
                        </div>

                        <div class="form-group" id="newAcademicDegreeFieldsContainer"></div>

                        <button type="button" class="btn btn-primary" id="addAcademicDegreeBtn">Adicionar Diploma</button>

                        <input type="hidden" id="academicDegreesData" name="academicDegreesData">


                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans "Fechar" %}</button>
                    <button type="button" class="btn btn-primary" id="saveUpdateBtn">{% trans "Salvar" %}</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
