{% extends "professor/base.html" %}
{% load i18n %}
{% load static %}

{% block head %}
<title>{% trans "Áreas Grades" %}</title>
<link rel="stylesheet" href="{% static 'professor/assignment/css/assignments_classs_list.css' %}">
<link rel="stylesheet" href="{% static 'common/table_window/css/table_window.css' %}" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.2/semantic.min.css" />
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.semanticui.min.css" />
<link rel="stylesheet"
    href="https://datatables.net/release-datatables/extensions/FixedColumns/css/fixedColumns.bootstrap4.css" />
<link rel="stylesheet" href="https://cdn.datatables.net/select/1.7.0/css/select.dataTables.min.css">
<link rel="stylesheet" href="https://datatables.net/release-datatables/media/css/dataTables.bootstrap4.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.2/moment.min.js"></script>
<script src="{% static 'staff/logs/js/logs.js' %}" data-lang="{{' LANGUAGE_CODE '}}"></script>
<script type="text/javascript" src="https://cdn.datatables.net/fixedcolumns/3.2.1/js/dataTables.fixedColumns.min.js">    
</script>
<script src="https://cdn.datatables.net/select/1.7.0/js/dataTables.select.min.js"></script>
{% endblock %}

{% block body %}
    <h1 class="title-page mt-4">{% trans "Atribuições Gerais" %}</h1>
    <hr>
    <nav>
        <ol class="breadcrumb hidden-itens">
            <li class="breadcrumb-item"><a href="{% url 'home_professor' %}"><i class="bi bi-house-door"></i></a></li>
            <li class="breadcrumb-item active"><a href="{% url 'assignments' %}">{% trans "Atribuições" %}</a></li>
            <li class="breadcrumb-item active">{% trans "Atribuições Gerais" %}</li>
        </ol>
    </nav>


    <div class="year-container">
        {% for year in years %}
            {% if year %}
                <div class="year" year="{{ year }}">
                    {{ year }}
                </div>
            {% endif %}
        {% endfor %}
    </div>

    {% if years %}
    <div class="area-container">
        {% for area in areas %}
            <div class="area" data-registration_area_id="{{ area.registration_area_id }}">
                {% trans area.name_area %}
            </div>
        {% endfor %}
    </div>
    {% endif %}

<div id="classs-container" class="hidden">
    <div class="classs"></div>
</div>

<script src="{% static 'professor/assignment/js/assignments_classs_list.js' %}" jsonData='{{ json_data|escapejs }}'></script>
<script src="{% static 'common/table_window/js/table_window.js' %}"></script>
{% endblock %}