{% extends "professor/base.html" %}
{% load i18n %}
{% load static %}
{% block head %}

    <title>{% trans "Termos de Uso" %}</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
{% endblock %}


{% block body %}
    <style>
        body {
            background-color: #366b76 !important;
        }

        .page-situation {
            display: none !important;
        }

        nav.navbar-nav {
            background: none !important;
            background-color: #366b76 !important;
        }

        h4 {
            margin-top: 20px;
        }

        p {
            font-size: 16px;
            margin-top: 10px;
            text-align: justify;
        }
    </style>

<h1>{% trans "Termos de Uso" %}</h1><hr>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home_staff' %}"><i class="bi bi-house-door"></i></a></li>
            <li class="breadcrumb-item active">{% trans "Termos de Uso" %}</li>
        </ol>
    </nav>

    <div class="card">
        <div class="card-body">
            <h4>{% trans "SEÇÃO 1 - ACEITAÇÃO DOS TERMOS" %}</h4>
            <p>
                {% trans "Estes Termos de Uso constituem um contrato legal entre você e a plataforma ADA. Ao acessar ou utilizar nossos serviços, você concorda em cumprir estes termos e todas as leis e regulamentos aplicáveis. Se você não concorda com estes termos, por favor, não utilize nossos serviços" %}.
            </p>

            <h4>{% trans "SEÇÃO 2 - USO DOS NOSSOS SERVIÇOS" %}</h4>
            <p>
                {% trans "Você concorda em utilizar nossos serviços apenas para fins legais e de acordo com estes Termos de Uso. Você não deve usar nossos serviços de maneira que possa danificar, desabilitar, sobrecarregar ou prejudicar a plataforma ADA ou interferir no uso de nossos serviços por terceiros. Você não pode tentar obter acesso não autorizado aos nossos sistemas ou redes" %}.
            </p>

            <h4>{% trans "SEÇÃO 3 - CONTA DO USUÁRIO" %}</h4>
            <p>
                {% trans "Ao criar uma conta na plataforma ADA, você é responsável por manter a confidencialidade de suas credenciais de acesso e por todas as atividades que ocorrem em sua conta. Você concorda em nos notificar imediatamente caso suspeite de qualquer uso não autorizado de sua conta" %}.
            </p>

            <h4>{% trans "SEÇÃO 4 - LIMITAÇÕES DE RESPONSABILIDADE" %}</h4>
            <p>
                {% trans "A plataforma ADA não se responsabiliza por quaisquer danos diretos, indiretos, incidentais, consequenciais ou especiais, incluindo perda de lucros, de dados ou de reputação, decorrentes do uso de nossos serviços ou da impossibilidade de utilizá-los" %}.
            </p>

            <h4>{% trans "SEÇÃO 5 - MODIFICAÇÕES DOS TERMOS DE USO" %}</h4>
            <p>
                {% trans "Reservamos o direito de modificar estes Termos de Uso a qualquer momento. As alterações entrarão em vigor imediatamente após a publicação. Recomendamos que você revise periodicamente estes termos para se manter informado sobre as atualizações" %}.
            </p>

            <h4>{% trans "SEÇÃO 6 - ENCERRAMENTO" %}</h4>
            <p>
                {% trans "Podemos encerrar ou suspender sua conta ou acesso aos nossos serviços a qualquer momento, por qualquer motivo, incluindo se você violar estes Termos de Uso. Em caso de encerramento, você concorda em cessar imediatamente o uso dos nossos serviços" %}.
            </p>

            <h4>{% trans "SEÇÃO 7 - LEI APLICÁVEL" %}</h4>
            <p>
                {% trans "Estes Termos de Uso serão regidos e interpretados de acordo com as leis do Brasil. Qualquer disputa decorrente ou relacionada a estes termos estará sujeita à jurisdição exclusiva dos tribunais brasileiros" %}.
            </p>

            <h4>{% trans "SEÇÃO 8 - CONTATO" %}</h4>
            <p>
                {% trans "Se tiver alguma dúvida sobre estes Termos de Uso, entre em contato conosco pelo e-mail" %}: ada.ifsp@gmail.com.
            </p>

        </div>
    </div>

{% endblock %}

{% block endbody %}


{% endblock %}
