{% extends "professor/base.html" %}
{% load i18n %}
{% load static %}

{% block head %}
    <title>{% trans "Contato" %}</title>
    <link rel="stylesheet" href="{% static 'professor/contact/css/contact.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
{% endblock %}

{% block body %}

    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home_staff' %}"><i class="bi bi-house-door"></i></a></li>
            <li class="breadcrumb-item active">{% trans "Contato" %}</li>
        </ol>
    </nav>


<form method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="{{ form.name.id_for_label }}">{% trans "Nome" %}:</label>
        {{ form.name }}
    </div>
    <div class="form-group">
        <label for="{{ form.email.id_for_label }}">{% trans "E-mail" %}:</label>
        {{ form.email }}
    </div>
    <div class="form-group">
        <label for="{{ form.message.id_for_label }}">{% trans "Mensagem" %}:</label>
        {{ form.message }}
    </div>
    <button type="submit" class="btn btn-primary">{% trans "Enviar" %}</button>
</form>

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}


{% endblock %}

{% block endbody %}


{% endblock %}