{% extends "staff/base.html" %}
{% load i18n %}
{% load static %}

{% block head %}
    {{ block.super }}
    <title>Disciplinas</title>
    <link rel="stylesheet" href="{% static 'staff/classs/css/classes_list.css' %}">
    <script src="{% static 'staff/classs/js/classes_list.js' %}" data-lang={{LANGUAGE_CODE}}></script>
{% endblock %}

{% block body %}
    {{ block.super }}
    <h1>Turmas</h1>
    <button type="button" class="btn btn-success float-right createClassBtn" data-toggle="modal" data-target="#createClassModal"><i class="bi bi-plus"></i> Criar turma </button>
    <div class="tabela">
        <table class="table table-bordered editable" id="classes_list">
            <thead>
                <tr>
                    <th scope="col">Registrto</th>
                    <th scope="col">Período</th>
                    <th scope="col">Semestre</th>
                    <th scope="col">Área</th>
                    <th scope="col">Ação</th>
                </tr>
            </thead>
            <tbody>
                {% csrf_token %}
                {% for classs in classes %}
                    <!-- Lista -->
                    <tr>
                        <td>{{ classs.registration_class_id }}</td>
                        <td>{{ classs.period }}</td>
                        <td>{{ classs.semester }}</td>
                        <td>{{ classs.area.name_area }} ({{ classs.area.acronym }})</td>
                        <td><button type="button" data-toggle="modal" data-target="#editClassModal" data-counter="{{ counter }}" class="btn btn-warning editClassBtn"><i class="bi bi-pencil"></i></button>
                            <button type="button" class="btn btn-danger deleteClassBtn" data-class-id="{{ classs.id }}" data-registration-class-id="{{ classs.registration_class_id }}"><i class="bi bi-trash"></i></button></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Modal criação turma -->
    <div class="modal fade" id="createClassModal" tabindex="-1" role="dialog" aria-labelledby="createClassModelLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addCreateClassModal">Criar Turma</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <input type="hidden" class="form-control" id="id">
                        <div class="form-group">
                            <label for="registration_class_id_create">Registro</label>
                            <input type="text" class="form-control" id="registration_class_id_create" required>
                        </div>
                        <div class="form-group">
                            <label for="period_create">Período</label>
                            <select class="form-control" id="period_create" required>
                                <option value="">Selecione uma opção</option>
                                {% for period in periods %}
                                    <option value="{{ period.value }}">{{ period.label }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="semester_create">Semestre</label>
                            <input type="number" class="form-control" id="semester_create" required>
                        </div>
                        <label for="area_create">Área</label>
                        <select class="form-control" id="area_create" required>
                            <option value="">Selecione uma opção</option>
                            {% for area in areas %}
                                <option value="{{ area.id }}">{{ area.name_area }} ({{ area.acronym }})</option>
                            {% endfor %}
                        </select>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    <button type="button" class="btn btn-primary" data-area-id="{{ area.id }}" id="saveCreateBtn">Criar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal para edição turma -->
    <div class="modal fade" id="editClassModal" tabindex="-1" role="dialog" aria-labelledby="editClassModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editClassModal">Editar Turma</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="registration_class_id_edit">Registro</label>
                            <input type="text" class="form-control" id="registration_class_id_edit">
                        </div>
                        <div class="form-group">
                            <label for="period_edit">Período</label>
                            <select class="form-control" id="period_edit" required>
                                <option value="">Selecione uma opção</option>
                                {% for period in periods %}
                                    <option value="{{ period.value }}">{{ period.label }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="semester_edit">Semestre</label>
                            <input type="number" class="form-control" id="semester_edit" required>
                        </div>
                        <div class="form-group">
                            <label for="area_edit">Área</label>
                            <select class="form-control" id="area_edit" required>
                                <option value="">Selecione uma opção</option>
                                {% for area in areas %}
                                    <option value="{{ area.id }}">{{ area.name_area }} ({{ area.acronym }})</option>
                                {% endfor %}
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    <button type="button" class="btn btn-primary" id="saveUpdateClassBtn">Salvar Alterações</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal confirmação deletar turma -->
    <div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="confirmDeleteModalLabel">{% translate "Confirmar Exclusão" %}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <p>{% translate "Tem certeza de que quer deletar a turma" %} <span id="registrationClassId"></span>?</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">{% translate "Cancelar" %}</button>
              <button type="button" class="btn btn-danger" id="confirmDeleteClassBtn">{% translate "Excluir" %}</a>
            </div>
          </div> 
        </div>
      </div>
{% endblock %}
