{% extends "professor/base.html" %}
{% load i18n %}
{% load static %}

{% block head %}
    <title>{% trans "Atribuições Professor(a)" %}</title>
{% endblock %}

{% block body %}

    <h1 class="title-page">{% trans "Atribuições do Professor" %}</h1>
    <nav>
    <ol class="breadcrumb hidden-itens">
        <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="bi bi-house-door"></i></a></li>
        <li class="breadcrumb-item active">{% trans "Atribuições" %}</li>
    </ol>
    </nav>

{% endblock %}