{% extends "professor/base.html" %}
{% load i18n %}
{% load static %}

{% block head %}
    <title>{% trans "Área x" %}</title>
{% endblock %}

{% block body %}

<h1 class="title-page">{% trans "Atribuições do Professor" %}</h1>
<nav>
    <ol class="breadcrumb hidden-itens">
        <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="bi bi-house-door"></i></a></li>
        <li class="breadcrumb-item active">{% trans "Atribuições" %}</li>
        <li class="breadcrumb-item active">{% trans "Área" %}</li>
    </ol>
</nav>

<div class="area-container">
    {% for area in user_areas %}
        <a href="#" class="area-link">
            <div class="area">
                {% if area.name_area == "INFORMÁTICA" %}
                    <img src="{% static 'images/informatica.png' %}" alt="Ícone de Informática">
                {% elif area.name_area == "TECNOLOGIA EM ANÁLISE E DESENVOLVIMENTO DE SISTEMAS" %}
                    <img src="{% static 'images/tads.png' %}" alt="Ícone de TADS">
                {% elif area.name_area == "DESENVOLVIMENTO DE SISTEMAS" %}
                    <img src="{% static 'images/desenvolvimento-sist.png' %}" alt="Ícone de TADS">
                {% endif %}
                <span class="area-name">{{ area.name_area }}</span>
            </div>
        </a>
    {% endfor %}
</div>

{% endblock %}