{% extends "professor/base.html" %}
{% load i18n %}
{% load static %}

{% block head %}
<title>{% trans "Atribuições Professor(a)" %}</title>
<link rel="stylesheet" href="{% static 'professor/css/show_assignments.css' %}">
<link rel="stylesheet" href="{% static 'common/table_window/css/table_window.css' %}" />
{% endblock %}

{% block body %}

<h1 class="title-page">{% trans "Atribuições do Professor" %}</h1>
<nav>
    <ol class="breadcrumb hidden-itens">
        <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="bi bi-house-door"></i></a></li>
        <li class="breadcrumb-item active">{% trans "Atribuições" %}</li>
        <li class="breadcrumb-item active">{% trans "Turma" %}</li>
    </ol>
</nav>

<div class="classe">
    <div>{{ classs.registration_class_id }}</div>
</div>

<div class="container">
  <hr>
  <div class="card hidden">
    <div class="card-body">
      <div class="tabela">
        <button class="collapsible"><span class="ml-1 icon-minimize" style="float: left;"><i
              class="fa fa-chevron-down pull-right"></i></span>Matutino</button>
        <div class="content_collapsible">
          <table class="table table-bordered editable" id="blocks_list">
            <thead class="thead-dark">
              <tr class="header-days">
                <!-- <th scope="col" class="align-middle">Período</th> -->
                <th scope="col" class="text-center" style="width: 7.7rem">{% trans "Horário" %}</th>
                <th scope="col" class="text-center">{% trans "Segunda-feira" %}</th>
                <th scope="col" class="text-center">{% trans "Terça-feira" %}</th>
                <th scope="col" class="text-center">{% trans "Quarta-feira" %}</th>
                <th scope="col" class="text-center">{% trans "Quinta-feira" %}</th>
                <th scope="col" class="text-center">{% trans "Sexta-feira" %}</th>
                <th scope="col" class="text-center">{% trans "Sábado" %}</th>
              </tr>
            </thead>
            <tbody>
              {% for timeslot in timeslots|slice:":6" %}
              <tr>
                {% with timeslot_counter=forloop.counter %}
                <th scope="row" class="align-middle text-center">{{ timeslot.hour_start|date:"H:i" }} -
                  {{ timeslot.hour_end|date:"H:i" }}</th>
                {% for cell in "012345" %}
                <td class="text-center p-2" id="cel-{{ timeslot_counter }}-{{ forloop.counter }}">{{ cell.content }}
                </td>
                {% endfor %}
                {% endwith %}
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <br />
      <button class="collapsible"><span class="ml-1 icon-minimize" style="float: left;"><i
            class="fa fa-chevron-down pull-right"></i></span>Vespertino</button>
      <div class="content_collapsible">
        <div class="tabela">
          <table class="table table-bordered editable" id="blocks_list">
            <thead class="thead-dark">
              <tr class="header-days">
                <!-- <th scope="col" class="align-middle">Período</th> -->
                <th scope="col" class="text-center" style="width: 7.7rem">{% trans "Horário" %}</th>
                <th scope="col" class="text-center">{% trans "Segunda-feira" %}</th>
                <th scope="col" class="text-center">{% trans "Terça-feira" %}</th>
                <th scope="col" class="text-center">{% trans "Quarta-feira" %}</th>
                <th scope="col" class="text-center">{% trans "Quinta-feira" %}</th>
                <th scope="col" class="text-center">{% trans "Sexta-feira" %}</th>
                <th scope="col" class="text-center">{% trans "Sábado" %}</th>
              </tr>
            </thead>
            <tbody>
              {% for timeslot in timeslots|slice:"6:12" %}
              <tr>
                {% with timeslot_counter=forloop.counter|add:6 %}
                <th scope="row" class="align-middle text-center">{{ timeslot.hour_start|date:"H:i" }} -
                  {{ timeslot.hour_end|date:"H:i" }}</th>
                {% for cell in "012345" %}
                <td class="text-center p-2" id="cel-{{ timeslot_counter }}-{{ forloop.counter }}">{{ cell.content }}
                </td>
                {% endfor %}
                {% endwith %}
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <br />
      <button class="collapsible"><span class="ml-1 icon-minimize" style="float: left;"><i
            class="fa fa-chevron-down pull-right"></i></span>Noturno</button>
      <div class="content_collapsible">
        <div class="tabela">
          <table class="table table-bordered editable" id="blocks_list">
            <thead class="thead-dark">
              <tr class="header-days">
                <!-- <th scope="col" class="align-middle">Período</th> -->
                <th scope="col" class="text-center" style="width: 7.7rem">{% trans "Horário" %}</th>
                <th scope="col" class="text-center">{% trans "Segunda-feira" %}</th>
                <th scope="col" class="text-center">{% trans "Terça-feira" %}</th>
                <th scope="col" class="text-center">{% trans "Quarta-feira" %}</th>
                <th scope="col" class="text-center">{% trans "Quinta-feira" %}</th>
                <th scope="col" class="text-center">{% trans "Sexta-feira" %}</th>
                <th scope="col" class="text-center">{% trans "Sábado" %}</th>
              </tr>
            </thead>
            <tbody>
              {% for timeslot in timeslots|slice:"12:" %}
              <tr>
                {% with timeslot_counter=forloop.counter|add:12 %}
                <th scope="row" class="align-middle text-center">{{ timeslot.hour_start|date:"H:i" }} -
                  {{ timeslot.hour_end|date:"H:i" }}</th>
                {% for cell in "012345" %}
                <td class="align-middle text-center p-2" id="cel-{{ timeslot_counter }}-{{ forloop.counter }}">
                  {{ cell.content }}</td>
                {% endfor %}
                {% endwith %}
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="{% static 'professor/js/show_assignment.js' %}" timetables-user='{{timetables_professor}}' jsonData='{{ json_data|escapejs }}' timeslots='{{ timeslots }}'></script>
    <script src="{% static 'common/table_window/js/table_window.js' %}"></script>

{% endblock %}