{% extends "staff/base.html" %}
{% load i18n %}

{% block head %}
    <title>{% translate "Home" %}</title>
{% endblock %}

{% block body %}
  <h1>{% translate "Login completo" %} - {% translate "HOME PAGE" %}</h1>
  <hr>
  <a href="{% url 'deadline_configuration' %}" class="btn btn-primary">{% translate "Cadastrar prazo" %}</a>
  <div class="container d-flex align-items-center justify-content-center h-70" style="height: 70vh;">
    <div>
      <h2>{% translate "Olá, administrador"%}</h2>
      <p>{% translate "Crie a fila da atribuição" %}.</p>
    </div>
  </div>
{% endblock %}