{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block head %}
    <title>{% translate "Professores" %}</title>
    <link rel="stylesheet" href="{% static 'css/staff/professors_list.css' %}">
{% endblock %}

{% block body %}
    <h1>sacrifício</h1>
    <div class="mt-5">
        <h1>Professores</h1>
        <div class="tabela">
            <table class="table table-bordered editable" id="professors_list">
                <thead>
                    <tr>
                        <th scope="col">Position</th>
                        <th scope="col">Registration id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Birth</th>
                        <th scope="col">Date Career</th>
                        <th scope="col">Date Campus</th>
                        <th scope="col">Date Professor</th>
                        <th scope="col">Date Area</th>
                        <th scope="col">Date Institute</th>
                        <th scope="col">Academic Degree Scores</th>
                    </tr>
                </thead>
                <tbody>
                    {% csrf_token %}
                    {% for professor in professors %}
                        {% with counter=forloop.counter0 %}
                            <tr>
                                <td class="editable" data-column="position">{{ counter }}</td>
                                <td>{{ professor.registration_id }}</td>
                                <td>{{ professor.first_name }}</td>
                                <td>{{ professor.history.birth|date:"Y-m-d" }}</td>
                                <td>{{ professor.history.date_career|date:"Y-m-d" }}</td>
                                <td>{{ professor.history.date_campus|date:"Y-m-d" }}</td>
                                <td>{{ professor.history.date_professor|date:"Y-m-d" }}</td>
                                <td>{{ professor.history.date_area|date:"Y-m-d" }}</td>
                                <td>{{ professor.history.date_institute|date:"Y-m-d" }}</td>
                                <td>
                                    {% for academic_degree in professor.history.academic_degrees.all %}
                                        {{ academic_degree.name }}
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endwith %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block endbody %}
    <script src="{% static 'staff/js/professors_list.js' %}" data-lang={{LANGUAGE_CODE}}></script>
{% endblock %}