@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,500;1,100;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&family=Raleway&display=swap');

body {
    background: linear-gradient(to top right, #3F927E, #2c436e);
    margin: 0;
    padding: 0;
    color: white;
}

.lang-icon {
    color: white;
}

.logo-notlogged img {
    width: 150px;
}

input {
    border: none;
    border-bottom: 1px solid #999;
}

.custom-btn,
.google-btn {
    background-color: #517ca7;
    color: #ffffff;
    border-radius: 4px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.custom-btn:hover,
.google-btn:hover {
    background-color: #535ba9;
}

.custom-btn:active,
.google-btn:active {
    background-color: #535ba9;
    box-shadow: 0 0 10px #535ba9;
}

.google-btn {
    background-color: #1590ff;
}

.google-btn:hover {
    background-color: #1f67a5;
}

.google-btn:active {
    background-color: #1590ff;
    box-shadow: 0 0 10px #1590ff;
}

.btn-language {
    border: 1px solid #3F927E;
    color: white;
}

button[type="submit"] {
    margin-top: 20px;
}

.expand-button {
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

input.form-control {
    border: none;
    border-bottom: 1px solid #999;
    padding: 7px 37px;
    box-sizing: border-box;
}

section {
    top: 500px !important;
    border-radius: 40px;
}

label {
    position: absolute;
    left: 7%;
}

.logo-notlogged {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.modern-font {
    padding: 20px 40px 0px 40px;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: white;
}

.register .ada-logo-login {
    border-radius: 20px 0px 0px 20px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.311);
}

.register {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
    padding-left: 15%;
    padding-right: 12%;
    background-size: cover;
    border-radius: 30px !important;
}

.card {
    padding: 40px 0px 0px 0px;
    border-radius: 0;
    border: none;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.311);
}

.ada-logo-login {
    height: 500px;
    padding: 40px;
    background-size: cover;
    background-image: url("/templates/static/images/login_back.jpg");
}

#form-login {
    margin-left: 30px;
    margin-right: 30px;
}

.inputs {
    margin-left: -14px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-title {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bolder;
    margin-bottom: 60px;
}

.form-group input:focus ~ .form-label {
    transform: translateY(-120%);
    font-size: 12px;
    color: #555;
}

i, input{
    color: #002119;
}

@media (max-width: 990px) {
    .card {
        padding: 0px;
        margin-right: -15px;
    }

    .ada-logo-login {
        border-radius: 20px 20px 0 0 !important ;
        height: 50%;
    }

    input.form-control {
        padding: 7px 50px;
    }

    .inputs {
        height: auto;
        padding-bottom: 30px;
    }

    .card-title {
        margin-bottom: 30px;
    }
}