/* Importação da fonte Montserrat do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,500;1,100;1,200&display=swap');

body {background-color: #f9fefd;}

/* Definições de estilo para links */
a:not(.title) {
    text-decoration: none;
    color: currentColor;
}

a:not(.title):hover {
    color: currentColor;
    text-decoration: none;
}

/* Definições de estilo para itens de navegação */
nav.navbar {
    position: fixed;
    background-color: #3F927E;
    color: #f9fefd;
    box-shadow: 0px 2px 8px #2a5a4f;
    font-family: 'Montserrat', sans-serif;
}

div#navbarToggler ul.navbar-nav > li:nth-of-type(-n+4).nav-item {
    padding: 5px 0;
    transition: all .1s ease;
    cursor: pointer;
}

div#navbarToggler ul.navbar-nav > li:nth-of-type(-n+4).nav-item:hover {
    border-radius: 5px;
    border: 0.1px solid #2a5a4f;
    background-color: #2a5a4f;
    margin-top: 2px;
    padding-top: 0px;
    margin-bottom: 2px;
    padding-bottom: 0px;
}

nav .nav-link {
    letter-spacing: 3px;
    color: #f9fefd;
    transition: font-weight 0.1s ease-in-out;
}

div#navbarToggler nav .nav-link:hover {
    text-decoration: underline;
    font-weight: bolder;
}

div#navbarToggler ul.navbar-nav, div#navbarTogglerLogin ul.navbar-nav {
    display: flex;
    justify-content: flex-end;
}

div#navbarToggler ul.navbar-nav > li:nth-of-type(-n+4) a.nav-link {color: #f9fefd;}

div#navbarToggler ul.navbar-nav > li:nth-of-type(-n+4) a.nav-link:hover {
    text-decoration: none;
    font-weight: bold;
}

/* Definições de estilo para ícones */

.language-icon {width: 5%;}

li.language-icon-notlogged, div.language-icon-notlogged {width: 8%;}

div.language-icon-notlogged {
    padding: 10px;
}

.profile-icon {
    margin-left: 15px;
    width: 4%;
    margin-top: 0px;
}

img.lang-icon, img.user-photo {width: 100%;}

.ada-logo {width: 15%;}

#sidebar-icon {display: none;}

/* Definições de estilo para itens de dropdown */

.top-right {
    position: absolute;
    top: 0;
    right: 0;
}

.dropdown-item:focus, .dropdown-item:active {background-color: #4eae9880;}

/* Definições de estilos para sidebar */

.modal-body a:hover {
    text-decoration: none;
    font-weight: bolder;
}

.modal-dialog {
    padding-right: 170px;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.modal-content {flex-grow: 1;}

.modal.fade:not(.show).left .modal-dialog {transform: translateX(-100%);}

.modal-content {background-color: #3F927E;}

.modal-header {
    padding-bottom: 13px;
    border-bottom: 1px solid #2a5a4f;
}

.modal-footer {border-top: 1px solid #2a5a4f;}

.hide-sidebar {
    color: white;
    box-shadow: none;
}

.hide-sidebar:hover {color: white;}

.user-name {margin-left: 20px;}

.modal-body span {
    white-space: nowrap;
    text-overflow: ellipsis;
}

button.close:focus,
button.close:active {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

button.close:focus, button.close:active {box-shadow: none;}

.lang-modal {width: 100%;}

.text-footer {
    margin-left: 15px;
    color: white;
    font-size: 10px
}

/* Definições de estilo para media queries */
@media (max-width: 1600px) {
    li.language-icon {width: 7%;}
    
    li.profile-icon {
        margin-left: 15px;
        width: 6%;
    }

    div.language-icon-notlogged {width: 100px;}
}

@media (max-width: 1150px) {
    li.language-icon {width: 8%;}
    
    li.profile-icon {
        margin-left: 15px;
        width: 7%;
    }

    #navbarToggler {display: none;}

    div.profile-icon {width: 30%;}
}

@media (max-width: 550px) {
    .modal-dialog {padding-right: 0;}

    .notlogged span {display: none;}

    .notlogged img {width: 45%;}

    li.language-icon-notlogged{width: 25%;}
}

@media (min-width: 992px){
    #sidebar-icon {display: none;}
}

@media (max-width: 991px) {
    #sidebar-icon {display: block;}
}
