@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,500;1,100;1,200&display=swap');

a {
    text-decoration: none;
    color: currentColor;
}

a:hover {
    color: currentColor;
}

nav.navbar ul.navbar-nav > li:nth-of-type(-n+4).nav-item  {
    padding: 5px 0;
    transition: all .1s ease;
    cursor: pointer;
}

nav.navbar ul.navbar-nav > li:nth-of-type(-n+4).nav-item:hover {
    border-bottom: 3px solid #2a5a4f;
    border-top: 3px solid #2a5a4f;
}

li.icon {
    width: 7%;
}

li.icon2 {
    margin-left: 15px;
    width: 6%;
}

#lang-icon, #user-photo{
    width: 100%;
}


/*video*/

#navbarDropdownMenuLink {
    color: white;
}

nav.nav-color {
    background-color: #3F927E;
}

.nav-brand a.logo {
    text-decoration: none;
}

nav {
    box-shadow: 0px 2px 8px #2a5a4f;
}

nav, nav .nav-link{
    color: white;
    font-family: 'Montserrat', sans-serif;
}

nav .nav-link {
    letter-spacing: 3px;
}

div#navbarToggler ul.navbar-nav > li:nth-of-type(-n+4) a.nav-link {
    color: white;
    transition: font-weight 0.1s ease-in-out;
}


ul.navbar-nav > li:nth-of-type(-n+4) a.nav-link:hover {
    text-decoration: underline;
}

nav a.nav-link:hover {
    font-weight: bolder;
}

img#ada-logo {
    width: 15%;
}

div#navbarToggler ul.navbar-nav {
    display: flex;
    justify-content: flex-end;
}


.dropdown-item:focus,
.dropdown-item:active {
  background-color: #3F927E; 
}