.collapsible {
    font-size: 1rem;
    font-weight: bold;
    background-color: #343a40;
    color: white;
    cursor: pointer;
    padding: 0.75rem;
    width: 100%;
    border: none;
    text-align: center;
    vertical-align: middle;
    outline: none;
    font-size: 15px;
}

.active_collapse,
.collapsible:hover {
    border: none;
    background-color: #343a40;
}

.content_collapsible {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

button:focus {
    outline: none;
}
