{% extends "staff/base.html" %}
{% load i18n %}
{% load static %}

{% block head %}
    {{ block.super }}
    <title>{% trans "Blocos" %}</title>
    <link rel="stylesheet" href="{% static 'staff/blockk/css/block_list.css' %}">
    <script src="{% static 'staff/blockk/js/blocks_list.js' %}" data-lang={{LANGUAGE_CODE}}></script>
{% endblock %}

{% block body %}
    {{ block.super }}
    <h1>{% trans "Blocos" %}</h1>
    <div class="tabela">
        <table class="table table-bordered editable" id="blocks_list">
            <thead>
                <tr>
                    <th scope="col">{% trans "Registro" %}</th>
                    <th scope="col">{% trans "Nome" %}</th>
                    <th scope="col">{% trans "Sigla" %}</th>
                    <th scope="col">{% trans "Ação" %}</th>
                </tr>
            </thead>
            <tbody>
                {% csrf_token %}
                {% for blockk in blocks %}
                    <!-- Lista -->
                        <tr>
                            <td>{{ blockk.registration_block_id }}</td>
                            <td>{% trans blockk.name_block %}</td>
                            <td>{% trans blockk.acronym %}</td>
                            <td><a href="{% url 'block_detail' blockk.registration_block_id %}"><button type="button" class="btn btn-primary editProfessorBtn"><i class="bi bi-eye"></i></button></a></td>
                        </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
