{% extends "staff/base.html" %}
{% load i18n %}
{% load static %}

{% block head %}
    {{ block.super }}
    <title>Detalhes Bloco</title>
    <link rel="stylesheet" href="{% static 'staff/blockk/css/block_detail.css' %}">
    <script src="{% static 'staff/blockk/js/block_detail.js' %}" data-lang={{LANGUAGE_CODE}}></script>
{% endblock %}


{% block body %}
    {{ block.super }}

<a href="{% url 'queue_create' %}?blockk={{ blockk.registration_block_id }}">
  <button type="button" class="btn btn-success float-right createCourseBtn">Criar fila</button>
</a>

    <a href="{% url 'queue_show' %}"><button type="button" class="btn btn-success float-right createCourseBtn"> Ver fila </button></a>


    <div class="container mb-4">
        <div class="row">
            <div class="col-md-12">
                <h1>{{ blockk.name_block }}</h1>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Detalhes</h5>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"><strong>Nome:</strong> {{ area.name_area }}</li>
                                <li class="list-group-item"><strong>Registro:</strong> {{ area.registration_area_id }}</li>
                                <li class="list-group-item"><strong>Sigla:</strong> {{ area.acronym }}</li>
                                <li class="list-group-item"><strong>Permuta:</strong> {{ area.exchange_area }}</li>
                                <li class="list-group-item"><strong>Ensino Médio:</strong> {{ area.is_high_school }}</li>
                            </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>      

    <button type="button" class="btn btn-success float-right createCourseBtn" data-toggle="modal" data-target="#createCourseModal"> Criar matéria </button>


    <div class="tabela">
        <table class="table table-bordered editable" id="blocks_list">
            <thead>
                <tr>
                    <th scope="col">Registro</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Sigla</th>
                    <th scope="col">Ação</th>
                </tr>
            </thead>
            <tbody>
                {% csrf_token %}
                {% for course in courses %}
                    <!-- Lista -->
                        <tr>
                            <td>{{ course.registration_course_id }}</td>
                            <td>{{ course.name_course }}</td>
                            <td>{{ course.acronym }}</td>
                            <td>
                                <button type="button" data-toggle="modal" data-target="#editCourseModal" data-course-id="{{ course.id }}" data-counter="{{ counter }}" class="btn btn-warning editCourseBtn"><i class="bi bi-pencil"></i></button>
                                <button type="button" class="btn btn-danger deleteCourseBtn" data-course-id="{{ course.id }}" data-registration-course-id="{{ course.registration_course_id }}"><i class="bi bi-trash"></i></button>
                            </td>
                        </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Modal criação matéria -->
    <div class="modal fade" id="createCourseModal" tabindex="-1" role="dialog" aria-labelledby="createCourseModelLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addCreateCourseModal">Criar</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <input type="hidden" class="form-control" id="id">
                        <div class="form-group">
                            <label for="registration_course_id">Registro</label>
                            <input type="text" class="form-control" id="registration_course_id_create" required>
                        </div>
                        <div class="form-group">
                            <label for="name_course">Nome</label>
                            <input type="text" class="form-control" id="name_course_create" required>
                        </div>
                        <div class="form-group">
                            <label for="acronym">Sigla</label>
                            <input type="text" class="form-control" id="acronym_create" required>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    <button type="button" class="btn btn-primary" data-area-id="{{ area.id  }}" data-block-id="{{ blockk.id }}" id="saveCreateBtn">Criar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal ediação turma -->
    <div class="modal fade" id="editCourseModal" tabindex="-1" role="dialog" aria-labelledby="edtCourseModelLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addEditCourseModal">Editar</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <input type="hidden" class="form-control" id="id">
                        <div class="form-group">
                            <label for="registration_course_id">Registro</label>
                            <input type="text" class="form-control" id="registration_course_id_update">
                        </div>
                        <div class="form-group">
                            <label for="name_course">Nome</label>
                            <input type="text" class="form-control" id="name_course_update">
                        </div>
                        <div class="form-group">
                            <label for="acronym">Sigla</label>
                            <input type="text" class="form-control" id="acronym_update">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    <button type="button" class="btn btn-primary" id="saveUpdateBtn">Salvar Alterações</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal confirmação deletar turma -->
    <div class="modal fade" id="confirmDeleteCourseModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModalCourseLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="confirmDeleteModalCourseLabel">{% trans "Confirmar Exclusão" %}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <p>{% trans "Tem certeza de que quer deletar a disciplina" %} <span id="registrationCourseId"></span>?</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">{% trans "Cancelar" %}</button>
              <button type="button" class="btn btn-danger" id="confirmDeleteCourseBtn">{% trans "Excluir" %}</a>
            </div>
          </div> 
        </div>
      </div>
{% endblock %}