{% extends "professor/base.html" %} 
{% load i18n %} 
{% load static %} 

{% block head %}
   <title>{% translate "Configuração de atribuição" %}</title>
   <link rel="stylesheet" href="{% static 'staff/attribution/css/attribution_configuration.css' %}">
{% endblock %} 

{% block body %}
<h1>Configuração da atribuição</h1>
<hr />
<div class="card custom-card">
   <div class="card-body">
    <form action="{% url 'attribution_configuration_confirm' %}" method="POST">
      {% csrf_token %}  
      <div class="row">
         <div class="configuracoes col-6">
            <h4>Configurações dos prazos</h4>
            <hr/>
            <input type="hidden" name="blockk" id="blockk" value="{{blockk.registration_block_id}}"></input>
            <div class="col-sm-12">
               <h5>Envio das preferências</h5>
               <div class="row">
                  <div class="col-6"><label for="startFPADeadline">Início</label> <input type="datetime-local" name="startFPADeadline" class="form-control" id="startFPADeadline" /></div>
                  <div class="col-6"><label for="endFPADeadline">Fim</label> <input type="datetime-local" name="endFPADeadline" class="form-control" id="endFPADeadline" /></div>
               </div>
            </div>
            <br />
            <div class="col-sm-12">
               <h5>Processo de atribuição de aulas</h5>
               <div class="row">
                  <div class="col-6"><label for="startAssignmentDeadline">Início</label> <input type="datetime-local" name="startAssignmentDeadline" class="form-control" id="startAssignmentDeadline" /></div>
                  <div class="col-6"><label for="endAssignmentDeadline">Fim</label> <input type="datetime-local" name="endAssignmentDeadline" class="form-control" id="endAssignmentDeadline" /></div>
               </div>
            </div>
         </div>
         <div class="fila col-6 ">
            <div class="my-custom-scrollbar">
               <table class="table">
                  <thead class="thead-dark">
                     <tr>
                        <th scope="col">Posição</th>
                        <th scope="col">Nome</th>
                     </tr>
                  </thead>
                  <tbody>
                     {% for position in queue %}
                     <tr>
                        <th scope="row">{{ position.position }}</th>
                        <td>{{ position.teacher.first_name }}</td>
                     </tr>
                     {% endfor %}
                  </tbody>
               </table>
            </div>
            <a href="{% url 'attribution:queueSetup' %}?blockk={{blockk.registration_block_id}}" class="btn btn-primary btn-block">Editar fila</a>
         </div>
      </div>
      <button class="btn btn-success btn-block mt-4">Salvar configurações</button>
    </form>
    </div>
</div>
{% endblock %}