{% extends "staff/base.html" %}
{% load i18n %}
{% load static %}

{% block head %}
<title>{% trans "Configuração Atribuição" %}</title>
<link rel="stylesheet" href="{% static 'staff/attribution/css/attribution_configuration.css' %}">
<script src="{% static 'staff/attribution/js/attribution_configuration.js' %}"></script>

{% endblock %}

{% block body %}
<h1 class="title-page">{% trans "Configuração da atribuição" %}</h1>
<nav>
   <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'home_staff' %}"><i class="bi bi-house-door"></i></a></li>
      <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'attribution_configuration_index' %}">{% trans "Configurar Atribuições" %}</li></a>
      <li class="breadcrumb-item active">{% trans "Seus Blocos" %}</a></li>
      <li class="breadcrumb-item active" aria-current="page">{% trans "Fila" %}</li>
   </ol>
</nav>
<div id="error-alert-form" class="alert alert-danger" style="display: none;">
   <span id="error-message-form"></span>
</div>
<div class="card custom-card">
   <div class="card-body">
      <form action="{% url 'attribution_configuration_confirm' %}" method="POST" id="form">
         {% csrf_token %}
         <div class="row">
            <div class="configuracoes col-12">
               <input type="hidden" name="blockk" id="blockk" value="{{blockk.registration_block_id}}"></input>
               <h2 id="blockName">{% trans blockk.name_block %}</h2>
               <hr>
               <p class="text-justify" style="font-size: larger; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif"">Para a atribuição ocorrer, configure a fila dos docentes de acordo com o critério de prioridade estabelecido neste semestre.</p>
               <!-- <div class="col-sm-12">
               <h5>{% trans "Envio das preferências" %}</h5>
               <div class="row">
                  <div class="col-6"><label for="startFPADeadline">{% trans "Início" %}</label> <input type="datetime-local" name="startFPADeadline" class="form-control" id="startFPADeadline" /></div>
                  <div class="col-6"><label for="endFPADeadline">{% trans "Fim" %}</label> <input type="datetime-local" name="endFPADeadline" class="form-control" id="endFPADeadline" /></div>
               </div>
            </div>
            <br />
            <div class="col-sm-12">
               <h5>{% trans "Processo de atribuição de aulas" %}</h5>
               <div class="row">
                  <div class="col-6"><label for="startAssignmentDeadline">{% trans "Início" %}</label> <input type="datetime-local" name="startAssignmentDeadline" class="form-control" id="startAssignmentDeadline" /></div>
                  <div class="col-6"><label for="endAssignmentDeadline">{% trans "Fim" %}</label> <input type="datetime-local" name="endAssignmentDeadline" class="form-control" id="endAssignmentDeadline" /></div>
               </div>
            </div> -->
            </div>
            <div class="fila col-12 ">
               <div class="my-custom-scrollbar">
                  <table class="table">
                     <thead class="thead-dark">
                        <tr>
                           <th scope="col">{% trans "Posição" %}</th>
                           <th scope="col">{% trans "Nome" %}</th>
                        </tr>
                     </thead>
                     <tbody>
                        {% for position in queue %}
                        <tr>
                           <th scope="row">{{ position.position }}</th>
                           <td>{{ position.teacher.first_name }}</td>
                        </tr>
                        {% endfor %}
                     </tbody>
                  </table>
               </div>
               <a href="{% url 'queue_create' %}?blockk={{blockk.registration_block_id}}"
                  class="btn btn-primary btn-block" id="edit-queue-button">{% trans "Editar fila" %} </a>
            </div>
         </div>
      </form>
   </div>
</div>
{% endblock %}