.redirect-button {
    width: 16rem; 
    height: 12rem; 
    background-color: #39a8f3; 
    color: #ffffff; 
    border: 0;
    transition: all 0.2s ease;
}

.big-text {
    padding-top: 2px;
      font-size:smaller;
  }

.redirect-button:hover {
    background-color: #329ee6;
    width: 16.5rem;
    height: 12.5rem;
    transform: scale(1.03);
}
