/* Importação da fonte Montserrat do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,500;1,100;1,200&display=swap');

body {
    background-color: #3F927E;
}

section.register {
    border-radius: 20px;
}

.logo-notlogged img {
    width: 150px;
}

section.register .card {
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}


button[type="submit"] {
    margin-top: 20px;
}

@media (max-width: 1500px) {
    .logo-notlogged img {
        width: 150px;
    }
}

@media (max-width: 600px) {
    .logo-notlogged img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100px;
        padding: 10px;
        margin-top: -15px;
    }

    section.register .card {
        width: 100%;
        position: relative;
        top: 80%;
        padding-top: 30px;
        padding-bottom: 30px;
    }
}