.custom-button {
    display: inline-block;
    padding: 10px 50px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: #fff;
    background-color: var(--secondary);
    transition: background-color 0.3s ease;

}

/* Efeito de hover */
.custom-button:hover {
    background-color: var(--primary);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}