{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" href="{% static "admin/css/admin_style.css" %}">
<link rel="stylesheet" href="{% static "admin/css/deadline_configuration.css" %}">
<link rel="stylesheet" href="{% static "admin/css/dashboard.css" %}">

{% endblock %}

{% block extrahead %}
{{ block.super }}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="{% static "admin/js/deadline_configuration.js" %}"></script>
{% endblock %}

{% block title %}Configuração de prazos | Django site admin{% endblock %}





{% block usertools %}

<div id="user-tools">
    {% trans "Bem-vindo(a)," %}
    <strong>{% trans "D" %}</strong>.
    <a href="/">{% trans "Ver o site" %}</a> /
    <a href="/admin/password_change/">{% trans "Alterar senha" %}</a> /
    <form id="logout-form" method="post" action="/admin/logout/">
        <input type="hidden" name="csrfmiddlewaretoken"
            value="jTEE6gPNIqua1iKKcrAprUYsA8C2cdESKzpouFJaMRHi74fewwqr4A303z6XoHe3">
        <button type="submit">{% trans "Encerrar sessão" %}</button>
    </form>
</div>

{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
    &rsaquo; <a>{% translate 'Configuração de prazos' %}</a>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <h1>{% trans "configuração Salva" %}</h1>
</div>

{% endblock %}
