body {
    background: linear-gradient(to top right, #3F927E, #2c436e);
    margin: 0;
    padding: 0;
    color: white;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}


.container.base {
    display: flex;
    position: absolute;
    margin: -2% 2% 0 2%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container-inside {
    flex-direction: column;
    justify-content: center;
    display: flex;
}

.element {
    color: #020202;
    align-items: flex-start;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.error-message {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bolder;
    font-size: 28px;
}

.svg {
    position: relative;
    width: 100%;
    height: 100%;
    left: 10%;
}

img {
    margin-bottom: 12px;
}

style > svg#freepik_stories-computer-troubleshooting:not(.animated) .animable {
    opacity: 0;
}

svg#freepik_stories-computer-troubleshooting.animated #freepik--background-simple--inject-4 {
    animation: 0.7s 1 forwards ease-in slideLeft;
    animation-delay: 0s;
}

svg#freepik_stories-computer-troubleshooting.animated #freepik--Plant--inject-4 {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) lightSpeedLeft;
    animation-delay: 0s;
}

svg#freepik_stories-computer-troubleshooting.animated #freepik--Tools--inject-4 {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) zoomIn;
    animation-delay: 0s;
}

svg#freepik_stories-computer-troubleshooting.animated #freepik--Device--inject-4 {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) slideRight;
    animation-delay: 0s;
}

svg#freepik_stories-computer-troubleshooting.animated #freepik--Floor--inject-4 {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) slideUp;
    animation-delay: 0s;
}

svg#freepik_stories-computer-troubleshooting.animated #freepik--Character--inject-4 {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) lightSpeedLeft;
    animation-delay: 0s;
}

svg#freepik_stories-computer-troubleshooting.animated #freepik--Smoke--inject-4 {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) slideRight;
    animation-delay: 0s;
}

svg#freepik_stories-computer-troubleshooting.animated #freepik--Screws--inject-4 {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) slideUp;
    animation-delay: 0s;
}

svg#freepik_stories-computer-troubleshooting.animated #freepik--gear-2--inject-4 {
    animation: 1.3s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) zoomOut, 1.5s Infinite linear wind;
    animation-delay: 0s, 1.3s;
}

svg#freepik_stories-computer-troubleshooting.animated #freepik--gears-1--inject-4 {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) slideUp, 1.5s Infinite linear wind;
    animation-delay: 0s, 1s;
}

@keyframes slideLeft {
    0% {
        opacity: 0;
        transform: translateX(-30px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes lightSpeedLeft {
    from {
        transform: translate3d(-50%, 0, 0) skewX(20deg);
        opacity: 0;
    }
    60% {
        transform: skewX(-10deg);
        opacity: 1;
    }
    80% {
        transform: skewX(2deg);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes zoomIn {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes slideRight {
    0% {
        opacity: 0;
        transform: translateX(30px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: inherit;
    }
}

@keyframes zoomOut {
    0% {
        opacity: 0;
        transform: scale(1.5);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes wind {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(1deg);
    }
    75% {
        transform: rotate(-1deg);
    }
}

.animator-hidden {
    display: none;
}
