{% extends "professor/base_attribution.html" %}
{% load i18n %}
{% load static %}

{% block head %}
<title>{% trans "Turmas Atribuídas" %}</title>
<link rel="stylesheet" href="{% static 'staff/blockk/css/block_list.css' %}">
{% endblock %}

{% block body %}
<h1 class="title-page mt-4">{% trans "Turmas Atribuídas" %}</h1>
<hr>
<nav>
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'home_professor' %}"><i class="bi bi-house-door"></i></a></li>
    <li class="breadcrumb-item" aria-current="page"><a href="{% url 'attribution:attribution' %}"> {% trans "Atribuição" %}</a></li>
    <li class="breadcrumb-item active" aria-current="page"> {% trans "Turmas Atribuídas" %} </li>
  </ol>
</nav>
<div class="tabela">
  <table class="table table-hover table-bordered editable display" id="classes_list">
    <thead class="thead-dark">
      <tr>
        <th scope="col">{% trans "Turmas" %}</th>
        <th scope="col">{% trans "Área" %}</th>
        <th scope="col">{% trans "Ações" %}</th>
      </tr>
    </thead>
    <tbody>
      {% for classs in classses %}
      <tr>
        <td>{% trans classs.area %}</td>
        <td><a href="{% url 'attribution:attribution_detail' %}?class={{classs.registration_class_id}}"
            class="btn btn-primary"><i class="bi bi-eye"></i></a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}

{% block endbody %}
<script src="{% static 'attribution/js/attribution_class_list.js' %}"></script>

{% endblock %}