{% extends "professor/base.html" %} 
{% load i18n %} 
{% load static %} 

{% block head %}
  {{ block.super }}
  <title>{% trans "Grade horária" %}</title>
  <link rel="stylesheet" href="{% static 'attribution/css/attribution_detail.css' %}">

{% endblock %} 

{% block body %} 
{{ block.super }}
  <h1>{% trans "Grade horária da " %}{{ classs }}</h1>
  <div class="tabela">
      <table class="table table-bordered editable" id="blocks_list">
          <thead class="thead-dark">
            <tr>
              <th colspan='7' class="text-center header-table"><span class="ml-1 icon-minimize" style='float: left;'> + </span>Matutino</th>
            </tr>
            <tr class="header-days">
              <!-- <th scope="col" class="align-middle">Período</th> -->
              <th scope="col" class="text-center" style="width: 7.7rem">{% trans "Horário" %}</th>
              <th scope="col" class="text-center">{% trans "Segunda-feira" %}</th>
              <th scope="col" class="text-center">{% trans "Terça-feira" %}</th>
              <th scope="col" class="text-center">{% trans "Quarta-feira" %}</th>
              <th scope="col" class="text-center">{% trans "Quinta-feira" %}</th>
              <th scope="col" class="text-center">{% trans "Sexta-feira" %}</th>
              <th scope="col" class="text-center">{% trans "Sábado" %}</th>
            </tr>
          </thead>
          <tbody>
            {% for timeslot in morning_timeslots %}
            <tr>
              {% with timeslot_counter=forloop.counter %}                     
                <th scope="row" class="align-middle text-center">{{ timeslot.hour_start|date:"H:i" }} - {{ timeslot.hour_end|date:"H:i" }}</th>
                      {% for cell in "012345" %}
                      <!-- blocktrans? batatinha -->
                         <td class="text-center p-2" id="cel-{{ timeslot_counter }}-{{ forloop.counter }}">{{ cell.content }}</td>
                      {% endfor %}
                {% endwith %}
            </tr>
          {% endfor %} 
          </tbody>
      </table>
  </div>
  <div class="tabela">
    <table class="table table-bordered editable" id="blocks_list">
        <thead class="thead-dark">
          <tr>
            <th colspan='7' class="text-center header-table"><span class="ml-1 icon-minimize" style='float: left;'> + </span>Vespertino</th>
          </tr>
          <tr class="header-days">
            <!-- <th scope="col" class="align-middle">Período</th> -->
            <th scope="col" class="text-center" style="width: 7.7rem">{% trans "Horário" %}</th>
            <th scope="col" class="text-center">{% trans "Segunda-feira" %}</th>
            <th scope="col" class="text-center">{% trans "Terça-feira" %}</th>
            <th scope="col" class="text-center">{% trans "Quarta-feira" %}</th>
            <th scope="col" class="text-center">{% trans "Quinta-feira" %}</th>
            <th scope="col" class="text-center">{% trans "Sexta-feira" %}</th>
            <th scope="col" class="text-center">{% trans "Sábado" %}</th>
          </tr>
        </thead>
        <tbody>
          {% for timeslot in timeslots|slice:"6:12" %}
          <tr>
            {% with timeslot_counter=forloop.counter|add:6 %}                     
              <th scope="row" class="align-middle text-center">{{ timeslot.hour_start|date:"H:i" }} - {{ timeslot.hour_end|date:"H:i" }}</th>
                    {% for cell in "012345" %}
                    <!-- blocktrans? batatinha -->
                       <td class="text-center p-2" id="cel-{{ timeslot_counter }}-{{ forloop.counter }}">{{ cell.content }}</td>
                    {% endfor %}
              {% endwith %}
          </tr>
        {% endfor %} 
        </tbody>
      </table>
  </div>
<div class="tabela">
  <table class="table table-bordered editable" id="blocks_list">
      <thead class="thead-dark">
        <tr>
          <th colspan='7' class="text-center header-table"><span class="ml-1 icon-minimize" style='float: left;'> + </span>Noturno</th>
        </tr>
        <tr class="header-days">
          <!-- <th scope="col" class="align-middle">Período</th> -->
          <th scope="col" class="text-center" style="width: 7.7rem">{% trans "Horário" %}</th>
          <th scope="col" class="text-center">{% trans "Segunda-feira" %}</th>
          <th scope="col" class="text-center">{% trans "Terça-feira" %}</th>
          <th scope="col" class="text-center">{% trans "Quarta-feira" %}</th>
          <th scope="col" class="text-center">{% trans "Quinta-feira" %}</th>
          <th scope="col" class="text-center">{% trans "Sexta-feira" %}</th>
          <th scope="col" class="text-center">{% trans "Sábado" %}</th>
        </tr>
      </thead>
      <tbody>
        {% for timeslot in timeslots|slice:"12:" %}
        <tr>
          {% with timeslot_counter=forloop.counter|add:12 %}                     
            <th scope="row" class="align-middle text-center">{{ timeslot.hour_start|date:"H:i" }} - {{ timeslot.hour_end|date:"H:i" }}</th>
                  {% for cell in "012345" %}
                  <!-- blocktrans? batatinha -->
                     <td class="text-center p-2" id="cel-{{ timeslot_counter }}-{{ forloop.counter }}">{{ cell.content }}</td>
                  {% endfor %}
            {% endwith %}
        </tr>
      {% endfor %}         
      </tbody>
    </table>
  </div>
  <script src="{% static 'attribution/js/attribution_detail.js' %}" timetables-user="{{timetables_professor}}">

{% endblock %}
