{% extends "professor/base.html" %}
{% load i18n %}
{% load static %}

{% block head %}
{{ block.super }}
<title>{% trans "Grade Horária Final" %}</title>
<link rel="stylesheet" href="{% static 'attribution/css/attribution_detail.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="path-to-bootstrap/bootstrap.min.js"></script>
<link rel="stylesheet" href="path-to-bootstrap/bootstrap.min.css">
{% endblock %}

{% block body %}
{{ block.super }}
<div class="container">
  <h1 class="title-page mt-4">{% trans "Grade Horária Final" %} {{ request.GET.class }}</h1>
  <hr>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'home_professor' %}"><i class="bi bi-house-door"></i></a></li>
      <li class="breadcrumb-item" aria-current="page"><a href="{% url 'attribution:attribution' %}"> {% trans "Atribuição" %}</a></li>
      <li class="breadcrumb-item" aria-current="page"><a href="{% url 'attribution_class_list' %}"> {% trans "Turmas Atribuídas" %} </a></li>
      <li class="breadcrumb-item active">{% trans "Grade" %} {{ request.GET.class }}</li>
    </ol>
  </nav>
  <div class="tabela">
    <table class="table table-bordered editable" id="blocks_list">
      <thead class="thead-dark">
        <tr>
          <th colspan='7' class="text-center header-table"><span class="ml-1 icon-minimize" style='float: left;'> +
            </span>{% trans "Matutino" %}</th>
        </tr>
        <tr class="header-days">
          <!-- <th scope="col" class="align-middle">Período</th> -->
          <th scope="col" class="text-center" style="width: 7.7rem">{% trans "Horário" %}</th>
          <th scope="col" class="text-center">{% trans "Segunda-feira" %}</th>
          <th scope="col" class="text-center">{% trans "Terça-feira" %}</th>
          <th scope="col" class="text-center">{% trans "Quarta-feira" %}</th>
          <th scope="col" class="text-center">{% trans "Quinta-feira" %}</th>
          <th scope="col" class="text-center">{% trans "Sexta-feira" %}</th>
          <th scope="col" class="text-center">{% trans "Sábado" %}</th>
        </tr>
      </thead>
      <tbody>
        {% for timeslot in timeslots|slice:":6" %}
        <tr>
          {% with timeslot_counter=forloop.counter %}
          <th scope="row" class="align-middle text-center">{{ timeslot.hour_start|date:"H:i" }} -
            {{ timeslot.hour_end|date:"H:i" }}</th>
          {% for cell in "012345" %}
          <td class="text-center p-2" id="cel-{{ timeslot_counter }}-{{ forloop.counter }}">{{ cell.content }}</td>
          {% endfor %}
          {% endwith %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="tabela">
    <table class="table table-bordered editable" id="blocks_list">
      <thead class="thead-dark">
        <tr>
          <th colspan='7' class="text-center header-table"><span class="ml-1 icon-minimize" style='float: left;'> +
            </span>{% trans "Vespertino" %}</th>
        </tr>
        <tr class="header-days">
          <!-- <th scope="col" class="align-middle">Período</th> -->
          <th scope="col" class="text-center" style="width: 7.7rem">{% trans "Horário" %}</th>
          <th scope="col" class="text-center">{% trans "Segunda-feira" %}</th>
          <th scope="col" class="text-center">{% trans "Terça-feira" %}</th>
          <th scope="col" class="text-center">{% trans "Quarta-feira" %}</th>
          <th scope="col" class="text-center">{% trans "Quinta-feira" %}</th>
          <th scope="col" class="text-center">{% trans "Sexta-feira" %}</th>
          <th scope="col" class="text-center">{% trans "Sábado" %}</th>
        </tr>
      </thead>
      <tbody>
        {% for timeslot in timeslots|slice:"6:12" %}
        <tr>
          {% with timeslot_counter=forloop.counter|add:6 %}
          <th scope="row" class="align-middle text-center">{{ timeslot.hour_start|date:"H:i" }} -
            {{ timeslot.hour_end|date:"H:i" }}</th>
          {% for cell in "012345" %}
          <td class="text-center p-2" id="cel-{{ timeslot_counter }}-{{ forloop.counter }}">{{ cell.content }}</td>
          {% endfor %}
          {% endwith %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="tabela">
    <table class="table table-bordered editable" id="blocks_list">
      <thead class="thead-dark">
        <tr>
          <th colspan='7' class="text-center header-table"><span class="ml-1 icon-minimize" style='float: left;'> +
            </span>{% trans "Noturno" %}</th>
        </tr>
        <tr class="header-days">
          <!-- <th scope="col" class="align-middle">Período</th> -->
          <th scope="col" class="text-center" style="width: 7.7rem">{% trans "Horário" %}</th>
          <th scope="col" class="text-center">{% trans "Segunda-feira" %}</th>
          <th scope="col" class="text-center">{% trans "Terça-feira" %}</th>
          <th scope="col" class="text-center">{% trans "Quarta-feira" %}</th>
          <th scope="col" class="text-center">{% trans "Quinta-feira" %}</th>
          <th scope="col" class="text-center">{% trans "Sexta-feira" %}</th>
          <th scope="col" class="text-center">{% trans "Sábado" %}</th>
        </tr>
      </thead>
      <tbody>
        {% for timeslot in timeslots|slice:"12:" %}
        <tr>
          {% with timeslot_counter=forloop.counter|add:12 %}
          <th scope="row" class="align-middle text-center">{{ timeslot.hour_start|date:"H:i" }} -
            {{ timeslot.hour_end|date:"H:i" }}</th>
          {% for cell in "012345" %}
          <td class="text-center p-2" id="cel-{{ timeslot_counter }}-{{ forloop.counter }}">{{ cell.content }}</td>
          {% endfor %}
          {% endwith %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<script src="{% static 'attribution/js/attribution_detail.js' %}" timetables-user="{{timetables_professor}}">
{% endblock %}
