{% extends "professor/base.html" %}
{% load i18n %}
{% load static %}

{% block head %}
<title>{% trans "Fim Atribuição" %}</title>
{% endblock %}

{% block body %}
<div class="d-flex align-items-center justify-content-center" style="min-height: 80vh;">
   <div class="container text-center">
      <div class="text-center">
   </div>
   <h1>{% trans "A atribuição já acabou" %}</h1>
   <br>
   <button type="button" id="return-button"
      class="btn btn-outline-primary btn-lg rounded-pill"><a href="{% url 'assignments' %}">{% trans "Veja a grade horária das turmas" %}</a>
      </button>
</div>
</div>
{% endblock %}
