{% extends "professor/base.html" %} 
{% load i18n %} 
{% load static %} 

{% block head %}
  <title>{% trans "Configuração de Atribuição" %}</title>
  <style>
    .label-small {
      margin-bottom: 5px;
      display: inline-block;
    }
  </style>
{% endblock %} 

{% block body %} 
  {% comment %}
    {% blocktrans with name_block_text=blockk.name_block %}
      <h1>{% trans "Fila de professores" %} ( {{ name_block_text }} )</h1>
    
  {% endcomment %}

  <h1>{% trans "Atribuição do bloco" %} {{ name_block_text }}</h1>
{% endblocktrans %}
<hr />
  <div class="row mb-3">
    <div class="col m-0 p-0">
      <h5>{% trans "Professor sendo atribuído" %}:</h5>
      <div class="card">
        <div class="card-body">
            {% if request.user == queue.first.teacher %}
            <h2 class="card-text">{% trans "Você" %}</h2>
            {% else %}
            {% blocktrans with get_full_name_camel_case_text=queue.first.teacher.get_full_name_camel_case %}
              <h4 class="card-text">{{ get_full_name_camel_case_text }}<h4>
            {% endblocktrans %}
            {% endif %}
        </div>
      </div>
    </div>
    <div class="col m-0 p-0 ml-3">
      <h5>{% trans "Tempo restante" %}</h5>
      <div class="card">
        <div class="card-body">
          <h2 class="card-text" id="time-left">{{ time_left }}</h2>
        </div>
      </div>
    </div>
    {% if request.user == queue.first.teacher %}
    <div class="col-2 ml-3 p-0">
      <button class="btn btn-success btn-block redirect" style="height:70%; margin-top: 2rem">{% trans "Escolher novas disciplinas" %}</button>
    </div>
    {% endif %}
  </div>
<div class="row">
  <div class="container m-0 p-0" style="height: 24rem;">
    <div class="card info-card sales-card" style="height: 100%;">
      <div class="card-body">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">{% trans "Posição" %}</th>
              <th scope="col">{% trans "Nome" %}</th>
              <th scope="col">{% trans "E-mail" %}</th>
            </tr>
          </thead>
          <tbody>
            {% for professor in queue %}
            <tr>
              <th scope="row">{{ professor.position }}</th>
              <td>{{ professor.teacher.first_name }}</td>
              <td>{{ professor.teacher.email }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<script src="{% static 'attribution/js/attribution.js' %}" data-lang={{LANGUAGE_CODE}} time-left='{{time_left}}'></script>
<!-- Movido para dentro do elemento 'row' -->
{% endblock %}
