{% extends "professor/base.html" %}
{% load i18n %}
{% load static %}

{% block head %}
{{ block.super }}
<title>{% trans "Blocos Atribuídos" %}</title>
<link rel="stylesheet" href="{% static 'staff/blockk/css/block_list.css' %}">
{% endblock %}

{% block body %}
{{ block.super }}
<h1 class="title-page mt-4">{% trans "Blocos Atribuídos" %}</h1>
<hr>
<div class="tabela">
  <table class="table table-bordered editable" id="blocks_list">
    <thead>
      <tr>
        <th scope="col">{% trans "Registro" %}</th>
        <th scope="col">{% trans "Nome" %}</th>
        <th scope="col">{% trans "Sigla" %}</th>
        <th scope="col">{% trans "Ação" %}</th>
      </tr>
    </thead>
    <tbody>
      {% csrf_token %}
      {% for blockk in blocks %}
      <!-- Lista -->
      <tr>
        <td>{{ blockk.registration_block_id }}</td>
        {% blocktrans with name_block_text=blockk.name_block %}
        <td>{{ name_block_text }}</td>
        {% endblocktrans %}
        {% blocktrans with acronym_text=blockk.acronym %}
        <td>{{ acronym_text }}</td>
        {% endblocktrans %}
        <td><a href="{% url 'block_detail' blockk.registration_block_id %}"><button type="button"
              class="btn btn-primary editProfessorBtn"><i class="bi bi-eye"></i></button></a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<script src="{% static 'attribution/js/attribution_list.js' %}">
{% endblock %}
