{% extends "professor/base.html" %} 
{% load i18n %} 
{% load static %} 

{% block head %}
   <title>{% trans "Fim Atribuição" %}</title>
   <script src="{% static 'attribution/js/back_home.js' %}" url="{% url 'attribution:attribution_class_list' blockk=blockk %}"></script>
{% endblock %}

{% block body %}
   <div class="d-flex align-items-center justify-content-center" style="min-height: 80vh;">
      <div class="container text-center">
         <div class="text-center">
      </div>
         <h1>{% trans "A atribuição já acabou" %}</h1>
         <br>
         <button type="button" id="return-button" class="btn btn-outline-primary btn-lg rounded-pill">{% trans "Voltar à página inicial" %}</button>
      </div>
   </div>
{% endblock %}
