
{{ avaliado }}

                <h1> Fila de professores</h1>
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th scope="col" width="10%">Posição</th>
                            <th scope="col">Registro</th>
                            <th scope="col">Nome</th>
                        </tr>
                    </thead>
                    <tbody>
                         {% csrf_token %}
                        {{ resultados }}
                    {% for user in resultados %}
                        <tr>
                            <td>{{ user.registration_id }}</td>
                            <td>{{ use.first_name }}</td>
                            <td>{{ user.history.birth }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
