input[name="course"]::-webkit-calendar-picker-indicator{
    opacity: 0.0;
    display: none;
    margin: 0px;
    padding: 0px;
    width: 0px;
    height: 0px;
}

input[name="course"]:hover::-webkit-calendar-picker-indicator {
    opacity:1;
    display: block;
    margin: 4px;
    padding: 0px;
    width: 1px;
    height: 3px;
}

#profile-table button, #profile-table thead th {
    background-color: #285f52d6 !important;
}

#profile-table tbody{
    color: rgba(22, 72, 60, 0.839) !important;
}

.history-fpa .col-3{
    padding: 10px 10px 20px 10px;
    border: #0000004b solid 1px;
    border-radius: 10px;
}

.name {
    background-color: randomColor();
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 15% 18% 15% 18%;
    font-size: 70pt;
    border-radius: 50%;
    color: white;
}

@media (max-width: 992px){
    .name {
        background-color: randomColor();
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        text-align: center;
        font-size: 70pt;
        border-radius: 50%;
        color: white;
        width: 80% !important;
    }
}

.header-table:hover{
    opacity: 0.9;
    cursor: pointer;
}

.form-control:focus{
    border-color: #80bdff;
    box-shadow: 0 0 0 0.0rem rgba(0,123,255,.25);
}

td{
    width: calc((100% - 7.7rem) / 6) !important;
    vertical-align:middle !important;
}
