{% extends "staff/base.html" %}
{% load i18n %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'user/css/login.css' %}">
    <title>{% trans "Login" %}</title>
    <style>
        input.form-control {
            border: none;
            border-bottom: 1px solid #999;
            padding: 6px 30px;
            box-sizing: border-box;
        }

        label {
            position: absolute; 
            left: 7%;
        }

        .register {
            height: 500px;
            border-radius: 0px !important;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.264);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        section div div.col-lg-4  {
            width: 100%;
        }

        .ada-logo-login {
            background-image: url("{% static 'images/login_back.jpg' %}"); 
            background-size: cover; 
        }
    </style>
{% endblock %}

{% block body %}
<section class="section register">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column ada-logo-login align-items-center justify-content-center w-100">
                <div class="logo-notlogged">
                    <img class="center" src="{% static 'images/logo_bg.png' %}" alt="">
                    <p>{% trans "Dê um 'click' na praticidade: a nossa plataforma torna a atribuição de aulas uma lição fácil"%}!</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 d-flex flex-column inputs align-items-center justify-content-center w-100">
                <div class="card h-100"> <!-- Add h-100 class for full height -->
                    <div class="card-body">
                        <div class="pt-4 pb-2">
                            <h2 class="card-title text-center">{% trans "Entrar" %}</h2>
                        </div>
                        <form class="row g-3 " id="form-login" method="post" action="{% url 'login' %}" novalidate>
                            {% csrf_token %}
                            
                            {% if form.non_field_errors %}
                                <div id="loginError" class="col-12 alert alert-danger alert-dismissible fade show">{% trans "Usuário ou senha incorretos" %}.</div>
                            {% endif %}
                        
                            <div class="col-12">
                                <div class="form-group has-validation">
                                    <label for="yourUsername" class="form-label mt-2">
                                        <i class="fa fa-user"></i>
                                    </label>
                                    <input type="text" name="username" class="form-control" maxlength='9'id="yourUsername" required placeholder="Prontuário"/>
                                    <div id="usernameError" class="invalid-feedback">{% trans "Por favor, insira o seu prontuário" %}.</div>
                                </div> 
                            </div>

                            <div class="col-12">
                                <div class="form-group has-validation">
                                    <label for="yourPassword" class="mt-2 form-label">
                                        <i class="fa fa-lock"></i>
                                    </label>
                                    <input type="password" name="password" class="form-control" id="yourPassword" required placeholder="Senha"/>
                                    <div id="passwordError" class="invalid-feedback">{% trans "Por favor, insira a sua senha" %}.</div>
                                </div> 
                            </div>

                            <div class="col-12">
                                <button class="custom-btn w-100" type="submit"><b>{% trans "Entrar" %}</b></button>
                                <input type="hidden" name="next" value="{{ next }}">
                            </div>
                            <!--
                            <div class="col-12">
                                <button class="google-btn w-100" type="submit"><i class="bi bi-google"></i> {% trans "Entre com"%}<b> Google</b></button>
                            </div>
                            -->
                        </form>                        
                    </div>
                </div>
            </div>
        </div>
</section>
{% endblock %}

{% block endbody %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.10.2/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0/js/bootstrap.min.js"></script>
    <script src="{% static 'user/js/login.js' %}"></script>
    <script src="vendor/jquery/jquery.min.js"></script>
{% endblock %}