{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/user/login.css' %}">
    <title>{% trans "Login" %}</title>
{% endblock %}

{% block body %}
<section class="section register min-vh-75 d-flex flex-column align-items-center justify-content-center py-4">
    <div class="container">
        <div class="d-flex justify-content-center py-4">
            <div class="logo-notlogged">
            <img src="{% static 'images/logo_favicon.jpg' %}" alt="">
            </div>
        </div> 
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="pt-4 pb-2">
                            <h5 class="card-title text-center pb-0 fs-4">Entre com sua conta</h5>
                            <p class="text-center small">Insira seu prontuário e senha</p>
                        </div>
                        <form class="row g-3 needs-validation" id="form-login" method="post" action="{% url 'login' %}">
                            {% csrf_token %}

                            <div id="loginError" class="col-12 alert alert-danger alert-dismissible fade show" style="display: none;">Usuário ou senha incorretos.</div>

                            <div class="col-12">
                                <label for="yourUsername" class="form-label">Prontuário:</label>
                                <div class="input-group has-validation">
                                    <span class="input-group-text" id="inputGroupPrepend">CJ</span>
                                    <input type="text" name="username" class="form-control" maxlength='7' id="yourUsername" required>
                                    <div id="usernameError" class="invalid-feedback">Por favor, insira seu prontuário.</div>
                                </div>
                            </div>
                        
                            <div class="col-12">
                                <label for="yourPassword" class="form-label">Senha:</label>
                                <input type="password" name="password" class="form-control" id="yourPassword" required>
                                <div id="passwordError" class="invalid-feedback">Por favor, insira sua senha.</div>
                            </div>

                            <div class="col-12">
                                <button id="submitBtn" class="btn btn-primary w-100" type="submit">{% translate "Entrar" %}</button>
                                <input type="hidden" name="next" value="{{ next }}">
                            </div>

                            <div class="col-12">
                                <button class="btn btn-primary w-100" type="submit">Google</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block endbody %}
    <script src="{% static 'js/user/login.js' %}"></script>
{% endblock %}