{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'css/user/login.css' %}">
    <title>{% translate "Login" %}</title>
{% endblock %}

{% block body %}
<section class="section register min-vh-75 d-flex flex-column align-items-center justify-content-center py-4">
    <div class="container">
        <div class="d-flex justify-content-center py-4">
            <div class="logo-notlogged">
            <img src="{% static 'images/logo_favicon-withoutbg.png' %}" alt="">
            </div>
        </div> 
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="pt-4 pb-2">
                            <h5 class="card-title text-center pb-0 fs-4">{% translate "Entre com sua conta" %}</h5>
                            <p class="text-center small">{% translate "Insira seu prontuário e senha" %}</p>
                        </div>
                        <form class="row g-3 " id="form-login" method="post" action="{% url 'login' %}" novalidate>
                            {% csrf_token %}
                            
                            {% if form.non_field_errors %}
                                <div id="loginError" class="col-12 alert alert-danger alert-dismissible fade show">{% translate "Usuário ou senha incorretos" %}.</div>
                            {% endif %}
                        
                            <div class="col-12">
                                <label for="yourUsername" class="form-label">{% translate "Prontuário" %}:</label>
                                <div class="input-group has-validation">
                                    <span class="input-group-text" id="inputGroupPrepend">CJ</span>
                                    <input type="text" name="username" class="form-control" maxlength='7'id="yourUsername" required>
                                    <div id="usernameError" class="invalid-feedback">{% translate "Por favor, insira seu prontuário" %}.</div>
                                </div>
                            </div>
                        
                            <div class="col-12">
                                <label for="yourPassword" class="pt-1 form-label">{% translate "Senha" %}:</label>
                                <input type="password" name="password" class="form-control" id="yourPassword" required>
                                <div id="passwordError" class="invalid-feedback">{% translate "Por favor, insira sua senha" %}.</div>
                            </div>

                            <div class="col-12">
                                <button class="custom-btn w-100" type="submit"><b>{% translate "Entrar" %}</b></button>
                                <input type="hidden" name="next" value="{{ next }}">
                            </div>
                            <div class="col-12">
                                <button class="google-btn w-100" type="submit"><i class="bi bi-google"></i> {% translate "Entre com"%}<b> Google</b></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block endbody %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.10.2/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0/js/bootstrap.min.js"></script>
    <script src="{% static 'js/user/login.js' %}"></script>
{% endblock %}