{% extends "staff/base.html" %}
{% load i18n %}
{% load static %}

{% block head %}
    <title>{% translate "create timetable" %}</title>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="{% static 'staff/timetable/js/create_timetable.js' %}" data-lang={{LANGUAGE_CODE}}></script>
{% endblock %}

{% block body %}
  <h1>{% translate "Login completo" %} - {% translate "HOME PAGE" %}</h1>
  <hr>
  <div class="container d-flex justify-content-center h-70">
    <div>
      <h2>{% translate "Crie uma grade horária!"%}</h2>
    </div>
  </div>
  <div class="container">
    <form method="GET">
      <div class="form-group">
          <div class="row">
            <input list="classes" name="class" class="form-control" value="{{ request.GET.class }}">
            <datalist id="classes">
              {% for class in Classes %}
                <option class="dropdown-item-class" value="{{class.registration_class_id}}">
              {% endfor %}              
            </div>
          </div>            
      </div>
      <button class="btn btn-primary btn-block form-group" type="submit">FILTRAR</button>
    </form>

    <div class="container">
        <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Horário</th>
                <th scope="col">Segunda-feira</th>
                <th scope="col">Terça-feira</th>
                <th scope="col">Quarta-feira</th>
                <th scope="col">Quinta-feira</th>
                <th scope="col">Sexta-feira</th>
                <th scope="col">Sábado</th>
              </tr>
            </thead>
            <tbody>
              {% for timeslot in timeslots %}
              <tr>
                <th scope="row">{{ timeslot.hour_start}} - {{ timeslot.hour_end }}</th> <!-- timeslot -->
                {% for i in '01234'|make_list %}
                  <td>
                    <input list="courses" name="course" class="form-control">
                    <datalist id="courses">
                      {% for course in courses %}
                        <option class="dropdown-item-class" value="{{course.name_course}}">
                      {% endfor %}              
                    </div>
                  </td>
                {% endfor %}
                <td>
              {% endfor%}
            </tbody>
          </table>         
          
    </div>



{% endblock %}