{% extends "staff/base.html" %}
{% load i18n %}
{% load static %}

{% block head %}
    {{ block.super }}
    <title>{% trans "Criar Grade" %}</title>
    <link rel="stylesheet" href="{% static 'staff/timetable/css/edit_timetable.css' %}">
    <link rel="stylesheet" href="{% static 'common/table_window/css/table_window.css' %}"/>
{% endblock %}

{% block body %}
  {{ block.super }}
  <h1 class="title-page">{% trans "Editar grade horária" %}</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="bi bi-house-door"></i></a></li>
      <li class="breadcrumb-item active" aria-current="page">{% trans "Configurar Grades Horárias" %}</li>
      <li class="breadcrumb-item active"><a href="{% url 'timetables' %}">{% trans "Grades Horárias" %}</a></li>
      <li class="breadcrumb-item active">{% trans "Editar" %} {{ request.GET.class }}</li>
    </ol>
  </nav>  <h1><span id="selected_class" class="d-flex justify-content-center">{{ request.GET.class }}</span></h1>
<div class="container">
  <form id="course_select">
    {% csrf_token %}
    <button type="button" class="collapsible"><span class="ml-1 icon-minimize" style="float: left;"><i class="fa fa-chevron-down pull-right"></i></span>Matutino</button>
    <div class="content_collapsible">
    <table class="table" id="timetable_table">
      <thead class="thead-dark">
        <tr class="header-days">
          <!-- <th scope="col" class="align-middle">Período</th> -->
          <th scope="col" class="text-center" style="width: 7.6rem">{% trans "Horário" %}</th>
          <th scope="col" class="text-center">{% trans "Segunda-feira" %}</th>
          <th scope="col" class="text-center">{% trans "Terça-feira" %}</th>
          <th scope="col" class="text-center">{% trans "Quarta-feira" %}</th>
          <th scope="col" class="text-center">{% trans "Quinta-feira" %}</th>
          <th scope="col" class="text-center">{% trans "Sexta-feira" %}</th>
          <th scope="col" class="text-center">{% trans "Sábado" %}</th>
        </tr>
      </thead>
      <tbody>
        {% for timeslot in timeslots|slice:":6" %}
            <tr>
              {% with timeslot_counter=forloop.counter %}                     
                <th scope="row" class="align-middle text-center">{{ timeslot.hour_start|date:"H:i" }} - {{ timeslot.hour_end|date:"H:i" }}</th>
                      {% for cell in "012345" %}
                      <!-- blocktrans? batatinha -->
                      <td rowspan="">
                        <input list="courses{{ cell }}" id="cel-{{ timeslot_counter }}-{{ forloop.counter }}" name="course" class="form-control datalist{{cell}} course-input" autocomplete="off" style="text-align: center;" course-id>
                        <datalist id="courses{{ cell }}">
                          {% for course in courses %}
                          <option class="dropdown-item-class" 
                            {% blocktrans with name_course_text=course.acronym %}
                              value="{{ name_course_text }}" 
                            {% endblocktrans %}
                            course-id={{course.registration_course_id}}>{{course.name_course}}
                          </option>
                          {% endfor %}
                        </datalist>
                      </td>
                      {% endfor %}
                {% endwith %}
            </tr>
          {% endfor %}        
      </tbody>
    </table>
  </div>
  <br />
  <button type="button"  class="collapsible"><span class="ml-1 icon-minimize" style="float: left;"><i class="fa fa-chevron-down pull-right"></i></span>Vespertino</button>
  <div class="content_collapsible">
    <table class="table" id="timetable_table">
      <thead class="thead-dark">
        <tr class="header-days">
          <!-- <th scope="col" class="align-middle">Período</th> -->
          <th scope="col" class="text-center" style="width: 7.6rem">{% trans "Horário" %}</th>
          <th scope="col" class="text-center">{% trans "Segunda-feira" %}</th>
          <th scope="col" class="text-center">{% trans "Terça-feira" %}</th>
          <th scope="col" class="text-center">{% trans "Quarta-feira" %}</th>
          <th scope="col" class="text-center">{% trans "Quinta-feira" %}</th>
          <th scope="col" class="text-center">{% trans "Sexta-feira" %}</th>
          <th scope="col" class="text-center">{% trans "Sábado" %}</th>
        </tr>
      </thead>
      <tbody>
        {% for timeslot in timeslots|slice:"6:12" %}
            <tr>
              {% with timeslot_counter=forloop.counter|add:6 %}                     
                <th scope="row" class="align-middle text-center">{{ timeslot.hour_start|date:"H:i" }} - {{ timeslot.hour_end|date:"H:i" }}</th>
                      {% for cell in "012345" %}
                      <!-- blocktrans? batatinha -->
                      <td rowspan="">
                        <input list="courses{{ cell }}" id="cel-{{ timeslot_counter }}-{{ forloop.counter }}" name="course" class="form-control datalist{{cell}} course-input" autocomplete="off" style="text-align: center;" course-id>
                        <datalist id="courses{{ cell }}">
                          {% for course in courses %}
                          <option class="dropdown-item-class" 
                            {% blocktrans with name_course_text=course.acronym %}
                              value="{{ name_course_text }}" 
                            {% endblocktrans %}
                            course-id={{course.registration_course_id}}>{{course.name_course}}
                          </option>
                          {% endfor %}
                        </datalist>
                      </td>
                      {% endfor %}
                {% endwith %}
            </tr>
          {% endfor %}        
      </tbody>
    </table>
  </div>
  <br />
  <button type="button"  class="collapsible"><span class="ml-1 icon-minimize" style="float: left;"><i class="fa fa-chevron-down pull-right"></i></span>Noturno</button>
  <div class="content_collapsible">
    <table class="table" id="timetable_table">
      <thead class="thead-dark">
        <tr class="header-days">
          <!-- <th scope="col" class="align-middle">Período</th> -->
          <th scope="col" class="text-center" style="width: 7.6rem">{% trans "Horário" %}</th>
          <th scope="col" class="text-center">{% trans "Segunda-feira" %}</th>
          <th scope="col" class="text-center">{% trans "Terça-feira" %}</th>
          <th scope="col" class="text-center">{% trans "Quarta-feira" %}</th>
          <th scope="col" class="text-center">{% trans "Quinta-feira" %}</th>
          <th scope="col" class="text-center">{% trans "Sexta-feira" %}</th>
          <th scope="col" class="text-center">{% trans "Sábado" %}</th>
        </tr>
      </thead>
      <tbody>
        {% for timeslot in timeslots|slice:"12:" %}
            <tr>
              {% with timeslot_counter=forloop.counter|add:12 %}                     
                <th scope="row" class="align-middle text-center">{{ timeslot.hour_start|date:"H:i" }} - {{ timeslot.hour_end|date:"H:i" }}</th>
                      {% for cell in "012345" %}
                      <!-- blocktrans? batatinha -->
                      <td rowspan="">
                        <input list="courses{{ cell }}" id="cel-{{ timeslot_counter }}-{{ forloop.counter }}" name="course" class="form-control datalist{{cell}} course-input" autocomplete="off" style="text-align: center;" course-id>
                        <datalist id="courses{{ cell }}">
                          {% for course in courses %}
                          <option class="dropdown-item-class" 
                            {% blocktrans with name_course_text=course.acronym %}
                              value="{{ name_course_text }}" 
                            {% endblocktrans %}
                            course-id={{course.registration_course_id}}>{{course.name_course}}
                          </option>
                          {% endfor %}
                        </datalist>
                      </td>
                      {% endfor %}
                {% endwith %}
            </tr>
          {% endfor %}        
      </tbody>
    </table>
  </div>
  <br>
    <button type="button" class="btn btn-primary btn-block form-group" id="submit_timetable">{% trans "Enviar" %}</button>
  </form>
  </div>
  
<script src="{% static 'staff/timetable/js/edit_timetable.js' %}" data-lang={{ LANGUAGE_CODE }} timetables-complete="{{ timetable }}"></script>
<script src="{% static 'common/table_window/js/table_window.js' %}"></script>
{% endblock %}