{% extends "staff/base.html" %}
{% load i18n %}
{% load static %}

{% block head %}
    {{ block.super }}
      <title>{% trans "Criar Grade" %}</title>
      <script src="{% static 'staff/timetable/js/create_timetable.js' %}" data-lang={{ LANGUAGE_CODE }}></script>
{% endblock %}

{% block body %}
  {{ block.super }}
  <h1 class="title-page">{% trans "Grade" %}</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="bi bi-house-door"></i></a></li>
      <li class="breadcrumb-item active" aria-current="page">{% trans "Configurar Grades Horárias" %}</li>
      <li class="breadcrumb-item active"><a href="{% url 'timetables' %}">{% trans "Grades Horárias" %}</a></li>
      <li class="breadcrumb-item active">{% trans "Registrar" %} {{ request.GET.class }}</li>
    </ol>
  </nav>
    <div class="spinner-border" role="status" style="display: none; position: fixed; top: calc( 50% - ( 3rem / 2) ); left: calc( 50% - ( 3rem / 2) ); width: 3rem; height: 3rem;">
      <span class="sr-only">{% trans "Carregando" %}...</span>
    </div>
    <div class="container mt-3">
      <div class="container">
        <div class="alert alert-danger" role="alert" id="mensagem-erro" style="display: none">
      </div>     
      
      <!-- limpar -->
      <h1><span id="selected_class" class="d-flex justify-content-center">{{ request.GET.class }}</span></h1>
      <div class="container">
        <form id="course_select">
          {% csrf_token %}
          <table class="table" id="timetable_table">
            <thead class="thead-dark">
              <tr>
                <!-- <th scope="col" class="align-middle">Período</th> -->
                <th scope="col" class="align-middle">{% trans "Horário" %}</th>
                <th scope="col" class="text-center">{% trans "Segunda-feira" %}</th>
                <th scope="col" class="text-center">{% trans "Terça-feira" %}</th>
                <th scope="col" class="text-center">{% trans "Quarta-feira" %}</th>
                <th scope="col" class="text-center">{% trans "Quinta-feira" %}</th>
                <th scope="col" class="text-center">{% trans "Sexta-feira" %}</th>
                <th scope="col" class="text-center">{% trans "Sábado" %}</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <!-- <td rowspan="2">$Vespertino</td> -->
              {% for timeslot in timeslots %} <!-- quantidade de linhas baseadas na quantidade de timeslots -->
                <th scope="row">{{ timeslot.hour_start }} - {{ timeslot.hour_end }}</th>
                <!-- timeslot -->
                {% for i in '012345'|make_list %}
                <td rowspan="">
                  <input list="courses{{ i }}" name="course" class="form-control datalist{{i}}" autocomplete="off">
                  <datalist id="courses{{ i }}">
                    {% for course in courses %}
                    {% blocktrans with name_course_text=course.name_course %}
                      <option class="dropdown-item-class" value="{{ name_course_text }}">
                    {% endblocktrans %}
                    {% endfor %}
                  </datalist>
                </td>
                  {% endfor %}
                </tr>
                {% endfor %}
              </tbody>
            </table>
            <button type="button" class="btn btn-primary btn-block form-group" id="submit_timetable">{% trans "Enviar" %}</button>
          </form>
        </div>
      </div>
    </div>
{% endblock %}
