.btn span.glyphicon {    			
	opacity: 0;				
}
.btn.active span.glyphicon {				
	opacity: 1;				
}
#work-availability .btn-group-toggle .btn-success:not(.active) {
    background-color: #2a5a4f5f;
    border-color: #2a5a4f66;
}
#work-availability .btn-group-toggle .btn-success {
    background-color: #3F927E;
}
.checkbox input[type="checkbox"].unchecked {
  background-color: initial !important;
}
.check {
  visibility: hidden;   
}

input[type="checkbox"]:checked + .check{
  visibility: visible;   
}

#cel-regime {
  font-size: 49.5pt;
  font-weight: 600;
  color: #2f7363;
  align-items: center;
}
.min-cel {
  color: #732f46;
}
.max-cel {
  color: #2f3a73;
}
.cel, .cel-type {
  font-size: 12pt;
  color: #2f7363;
}

th {
  color: #124136;;
}

.td-block {
  height: 100px;
  font-weight: 700;
  color: #124136e6;
} 
