.custom-border {
  border-color: #2f7363;
  border-top: 0px;
  font-size: 19pt;
  font-weight: bold;
  color: #285f52;
}

.custom-border:focus,
.custom-border:active {
  border-color: #2f7363;
  outline: #124136;
}

.days-count {
  margin-top: 29px;
  padding: 15px;
}

.days-count-courses {
  margin-top: 22px;
  padding: 14px;
}

.custom-icon {
  color: #2f7363;
}

#cel-hour,
#cel-day,
#cel-minute {
  font-size: 50pt;
  font-weight: 600;
  color: #2f7363;
  align-items: center;
}


.cel,
.cel-type {
  font-size: 12pt;
  color: #2f7363;
}

th {
  color: #124136;
  ;
}

.btn-notchecked,
.btn-notchecked input {
  background-color: #79b9aa;
  color: white
}

.btn-notchecked:hover {
  font-weight: 700;
  color: white;
}


.regime {
  margin-top: -17px;
}

button.info-button {
  margin-bottom: 5px;
  float: right;
}

button.info-button {
  margin-top: -5px;
}

button.info-button svg {
  margin-bottom: 5px;
}

#info-input-message {
  font-size: 14px;
}

#info-alert {
  display: none;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  background-color: #f0f9ff;
  border-radius: 10px;
}

#info-alert .table {
  margin-bottom: 0;
  background-color: #f0f9ff;
}

#info-alert .table tr td {
  padding: 10px;
  border-top: none;
  border: 2px solid #2f736349;
}

#info-alert .table tbody tr td:first-child {
  font-weight: bold;
  background-color: #2f7363;
  color: #f0f9ff;
  border: 2px solid #3e9782;
}

.info-displine,
.info-day,
.info-start-and-end-hour,
.info-class {
  font-size: 16px;
  color: #333;
}

.card-blockk {
  width: 500px;
  float: left;
  margin-right: 30px;
  margin-top: 30px;
}

.division {
  margin-bottom: -10px;
}

.center {
  left: 25%;
}

.card-blockk-disponibility {
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 20px;
}

.message-info-done {
  margin-top: -5px;
  background-color: #2B8D4C;
  font-weight: 500;
  padding: 5px 10px 5px 10px;
  border-radius: 6px;
  color: #173f25;
}

.message-info-not-done {
  margin-top: -5px;
  background-color: #FFDD95;
  font-weight: 500;
  padding: 5px 10px 5px 10px;
  border-radius: 6px;
  color: #664d15;
}

.message-info-not-configured {
  margin-top: -5px;
  background-color: #698FAC;
  font-weight: 500;
  padding: 5px 10px 5px 10px;
  border-radius: 6px;
  color: #c6e5ff;
}

.message-info-not-started {
  margin-top: -5px;
  background-color: #2B597C;
  font-weight: 500;
  padding: 5px 10px 5px 10px;
  border-radius: 6px;
  color: #cee6f9;
}

.link {
  color: blue;
  text-decoration: underline;
  font-style: italic;
}

.center-btn {
  text-align: center;
}

.card-title {
  font-weight: 500;
}

.overlay {
  position: absolute;
  top: 80%;
  left: 29%;
  transform: trans(-50%, -50%);
  z-index: 99;
  display: grid;
  justify-content: center;
  align-items: center;
}


/* Estilos para o modal */
.modal-div {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  max-width: 500px;
  z-index: 99;
}

body {
  background-color: #def2fc81;
}

.card-blockk {
  width: 47%;
  float: left;
  margin-right: 30px;
  margin-top: 30px;
}

.division {
  margin-bottom: -10px;
}

.center {
  left: 25%;
}

.card-blockk-disponibility {
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 20px;
}

.message-info-done {
  background-color: #2B8D4C;
  font-weight: 500;
  padding: 5px 10px 5px 10px;
  border-radius: 6px;
  color: #dcffe8;
}

.message-info-not-done {
  background-color: #FFDD95;
  font-weight: 500;
  padding: 5px 10px 5px 10px;
  border-radius: 6px;
  color: #664d15;
}

.message-info-not-configured {
  background-color: #698FAC;
  font-weight: 500;
  padding: 5px 10px 5px 10px;
  border-radius: 6px;
  color: #c6e5ff;
}

.message-info-not-started {
  background-color: #2B597C;
  font-weight: 500;
  padding: 5px 10px 5px 10px;
  border-radius: 6px;
  color: #cee6f9;
}

.message-info-blocked {
  background-color: #53636e;
  font-weight: 500;
  padding: 5px 10px 5px 10px;
  border-radius: 6px;
  color: #cee6f9;
}

.link {
  color: blue;
  text-decoration: underline;
  font-style: italic;
}

.center-btn {
  text-align: center;
}

.card-title {
  font-weight: 500;
}

.btn-priority {
  border: 1px solid #2f7363;
  color: #2f7363;
  padding: 5px;
}

.btn-priority:hover {
  background-color: #2f7363;
  color: white;
  font-weight: 500;
}

.btn-priority:active {
  background-color: #2f7363;
  color: white;
}

.btn-priority:first-child {
  margin-right: -5px;
  border-radius: 5px 0 0 5px;
  padding-left: 35px;
  padding-right: 35px;
}

.btn-priority:not(:first-child) {
  border-radius: 0 5px 5px 0;
  padding-left: 30px;
  padding-right: 30px;
}

.overlay {
  position: absolute;
  top: 80%;
  left: 29%;
  transform: trans(-50%, -50%);
  z-index: 99;
  display: grid;
  justify-content: center;
  align-items: center;
}


/* Estilos para o modal */
.modal-div {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  max-width: 500px;
  z-index: 99;
}

body {
  background-color: #def2fc81;
}

/*btn green*/
.ada-btn-sucess {
  background-color: #147334;
  border: #0b5122;
  color: #dcffe8;
}

.ada-btn-sucess:hover {
  background-color: #147334;
  border: #0b5122;
  color: #dcffe8;
}

.ada-btn-sucess:active {
  background-color: #147334;
  border: #0b5122;
  color: #dcffe8;
}

/*btn yellow*/
.ada-btn-warning {
  background-color: #FFDD95;
  border: #664d15;
  color: #664d15;
}

.ada-btn-warning:hover {
  background-color: #FFDD95;
  border: #4b380e;
  color: #664d15;
}

.ada-btn-warning:active {
  background-color: #FFDD95;
  border: #4b380e;
  color: #664d15;
}

/*btn blue dark*/
.ada-btn-blue-dark {
  background-color: #174365;
  border: #0d2131;
  color: #ddf0ff;
}

.ada-btn-blue-dark:hover {
  background-color: #052d4b;
  border: #072034;
  color: #ddf0ff;
}

.ada-btn-blue-dark:active {
  background-color: #174365;
  border: #0d2131;
  color: #ddf0ff;
}

/*btn GREY*/
.ada-btn-grey {
  background-color: #3e4d59;
  border: #3e4d59;
  color: #ddf0ff;
}

.ada-btn-grey:hover {
  background-color: #2a3741;
  border: #2a3741;
  color: #ddf0ff;
}

.ada-btn-grey:active {
  background-color: #2a3741;
  border: #2a3741;
  color: #ddf0ff;
}

/*btn blue ligth*/
.ada-btn-blue {
  background-color: #9FBBD1;
  border: #5a8ab0;
  color: #174365;
}

.ada-btn-blue:hover {
  background-color: #9FBBD1;
  border: #5a8ab0;
  color: #174365;
}

.ada-btn-blue:active {
  background-color: #9FBBD1;
  border: #0d2131;
  color: #174365;
}

b {
  color: #085763
}

.priority-cell {
  background-color: #285f528d;
  color: whitesmoke;
}

@media (max-width: 992px) {
  .column {
    display: none;
  }

  .modal td {
    font-size: 11pt;
  }

  td,
  td div {
    font-size: 8pt;
  }
}


@media print {
  .priority-cell {
    color: #2b544b;
    background-color: #507c75;
  }

  .choosed {
    color: #085763;
    background-color: #2b544b;
  }

  .hidden-itens {
    display: none;
  }

  .title-page {
    margin-top: -60px;
  }

  .hour-print {
    font-size: 14px;
  }

  div.footer {
    display: none;
  }

  .openModalBtn {
    color: #0d2131;
  }
}