{% extends "staff/base.html" %}
{% load i18n %}
{% load static %}

{% block head %}
    {{ block.super }}
    <title>{% trans Prazos %}</title>
{% endblock %}

{% block body %}
    {{ block.super }}
    <h1>{% trans Prazos Cadastrados!%}</h1>
    <h2>{% trans Prazo para o envio do FPA %}</h2>
    <p>{% trans Início %}: {{ startFPADeadline }}</p>
    <p>{% trans Fim %}: {{ endFPADeadline }}</p>
    <h2>{% trans Prazo para a atribuição de aulas %}</h2>
    <p>{% trans Início %}: {{ startAssignmentDeadline }}</p>
    <p>{% trans Fim %}: {{ endAssignmentDeadline }}</p>
    <h2>{% trans Prazo para o período de permuta %} </h2>
    <p>{% trans Início %}: {{ startExchangeDeadline }}</p>
    <p>{% trans Fim %}: {{ endExchangeDeadline }}</p>
{% endblock %}