{% extends "staff/base.html" %}
{% load i18n %}
{% load static %}

{% block head %}
    {{ block.super }}
{% endblock %}

{% block body %}
    {{ block.super }}
    <h1>Prazos Cadastrados!</h1>
    <h2>Prazo para o envio da FPA</h2>
    <p>Início: {{ startFPADeadline }}</p>
    <p>Fim: {{ endFPADeadline }}</p>
    <h2>Prazo para a atribuição de aulas</h2>
    <p>Início: {{ startAssignmentDeadline }}</p>
    <p>Fim: {{ endAssignmentDeadline }}</p>
    <h2>Prazo para o período de permuta </h2>
    <p>Início: {{ startExchangeDeadline }}</p>
    <p>Fim: {{ endExchangeDeadline }}</p>
{% endblock %}