{% extends "staff/base.html" %}
{% load i18n %}
{% load static %}

{% block head %}
    {{ block.super }}
    <title>{% trans "Criar Prazo" %}</title>
{% endblock %}

{% block body %}
    {{ block.super }}
    {% blocktrans with name_block_text=blockk.name_block text="Painel de configuração da atribuição de aulas" %}
    <h1>{{ text }} ( {{ name_block_text }} )</h1>
    {% endblocktrans %}
    <hr>
    <form method="post" action="{% url 'confirm_deadline_configuration' %}">
        {% csrf_token %}    
        <h2>{% trans "Prazo para o envio do FPA" %}</h2>
        <p>{% trans "Início" %}: <input type="datetime-local" name="startFPADeadline"></p>
        <p>{% trans "Fim" %}: <input type="datetime-local" name="endFPADeadline"></p>
        <h2>{% trans "Prazo para a atribuição de aulas" %}</h2>
        <p>{% trans "Início" %}: <input type="datetime-local" name="startAssignmentDeadline"></p>
        <p>{% trans "Fim" %}: <input type="datetime-local" name="endAssignmentDeadline"></p>
        <h2>{% trans "Prazo para o período de permuta" %}</h2>
        <p>{% trans "Início" %}: <input type="datetime-local" name="startExchangeDeadline"></p>
        <p>{% trans "Fim" %}: <input type="datetime-local" name="endExchangeDeadline"></p>
        <h2>{% trans "Bloco" %}</h2>
        <p>{% trans "Bloco" %}: 
            <select name="block" id="block">
                {% for blockk in user_blocks %}
                {% blocktrans with name_block_text=blockk.name_block %}
                    <option value="{{ blockk.id }}">{{ name_block_text }}</option>
                    {% endblocktrans %}
                {% endfor %}
            </select> 
        </p>
        <button type="submit" class="btn btn-primary">{% trans "Salvar" %}</button>
    </form>
{% endblock %}