.tipx {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.no-border {
    border-bottom: none; /* Remove bottom border when .no-border class is present */
}

.tipx h2 {
    margin: 0; /* Remove default margin to avoid extra spacing */
}

.tipx .tooltiptext {
    visibility: hidden;
    width: 400px;
    background-color: #3F927E;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    margin-left: 40px;
}

/* When hovering over .tipx, show the tooltip */
.tipx:hover .tooltiptext {
    visibility: visible;
}
