{% extends "staff/base.html" %}
{% load i18n %}
{% load static %}

{% block head %}
{{ block.super }}
<title>{% trans "Professores" %}</title>
<link rel="stylesheet" href="{% static 'staff/logs/css/logs.css' %}" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.2/semantic.min.css" />
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.semanticui.min.css" />
<link rel="stylesheet"
    href="https://datatables.net/release-datatables/extensions/FixedColumns/css/fixedColumns.bootstrap4.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/select/1.7.0/css/select.dataTables.min.css">
<link rel="stylesheet" href="https://datatables.net/release-datatables/media/css/dataTables.bootstrap4.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.2/moment.min.js"></script>
<script src="{% static 'staff/logs/js/logs.js' %}" data-lang="{{' LANGUAGE_CODE '}}"></script>
<script type="text/javascript" src="https://cdn.datatables.net/fixedcolumns/3.2.1/js/dataTables.fixedColumns.min.js">    
</script>
<script src="https://cdn.datatables.net/select/1.7.0/js/dataTables.select.min.js"></script>

{% endblock %}

{% block body %}
{{ block.super }}

<h1>Logs</h1>
<hr>
<div class="card">
    <div class="card-body">
        <div class="tabela">
            <table class="table editable" id="logs_list">
                <thead class="">
                    <tr>
                        <th><input type="checkbox" id="selectAllButton" class="text-center" style="margin-left:12px; margin-top: 6px;"></input></th>
                        <th scope="col">{% trans "Id" %}</th>
                        <th scope="col">{% trans "Hora" %}</th>
                        <th scope="col">{% trans "Descrição" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% csrf_token %}
                    {% for log in logs %}
                    <tr>
                        <td></td>
                        <td>{{ log.id }}</td>
                        <td>{{ log.log_time }}</td>
                        <td>{{ log.log_description }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <button type="button" class="btn btn-danger float-right" id="deleteSelectedButton">Deletar logs selecionados</button>
    </div>
</div>

{% endblock %}